<ng-container *ngIf="!classInfo">
    <app-loader>
        Загружаем класс
    </app-loader>
</ng-container>

<ng-container *ngIf="classInfo">
    <div class="class" @appear>
        <div class="class__wrapper">

            <div class="class__block">
                <app-return
                        (returnEvent)="navigateClasses()"
                >
                    Все классы
                </app-return>
                <div class="class__header">
                    <div class="class__title">
                        <span>
                            {{classInfo.number}}{{classInfo.letter}} класс
                        </span>
                    </div>
                    <div class="class__rename">
                        <app-button (clickEvent)="renameClass()">Изменить</app-button>
                    </div>
                </div>
            </div>

            <div class="class__columns first class-stats">
                <div class="class__column small">
                    <div class="class__stats stats-box">

                        <div class="stats-box__wrapper">
                            <div class="stats-box__container">
                                <div class="stats-box__content">
                                    <div class="class__block">
                                        <h2 class="stats-box__title">
                                            Средний балл
                                        </h2>
                                        <div class="class-stats__text stats-box__text">
                                            85%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="stats-box__wrapper">
                            <div class="stats-box__container">
                                <div class="stats-box__content">
                                    <div class="class__block">
                                        <h2 class=" stats-box__title">
                                            Худший средний балл
                                        </h2>
                                        <div class="class-stats__text stats-box__text">
                                            30%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="class__column big class-stats">
                    <div class="class__block">
                        <div class="stats-line">
                            <div class="stats-line__bar stats-line-bar">
                                <div class="stats-line-bar__wrapper">
                                    <button type="button"
                                            class="stats-line-bar__item active"
                                            #timelineChanger
                                            #month
                                            (click)="changeTimeline(Timelines.Month, month)">
                                        <div class="stats-line-bar__text">
                                            Месяц
                                        </div>
                                    </button>
                                    <button type="button"
                                            class="stats-line-bar__item common"
                                            #timelineChanger
                                            #year
                                            (click)="changeTimeline(Timelines.Year, year)">
                                        <div class="stats-line-bar__text">
                                            Учебный год
                                        </div>
                                    </button>
                                    <button type="button"
                                            class="stats-line-bar__item common"
                                            #timelineChanger
                                            #all
                                            (click)="changeTimeline(Timelines.AllTime, all)">
                                        <div class="stats-line-bar__text">
                                            Все время
                                        </div>
                                    </button>
                                </div>
                            </div>

                            <div class="stats-line__chart stats-line-chart">
                                <div #chartWrapper class="stats-line-chart__wrapper">
                                    <canvas #lineChart>
                                    </canvas>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="class__columns">
                <div class="class__column regular">

                    <div class="class__block">
                        <div class="class__items class-items">
                            <h2 class="class-items__title subtitle">
                                <span>Ученики</span>
                                <div class="subtitle__info subtitle-info">
                                    <button (click)="toggleHide({studentsHidden: true})">
                                        <img src="assets/images/icons/info.svg" alt="Info icon">
                                    </button>
                                    <ng-container *ngIf="rememberInfo.studentsHidden">
                                        <div class="subtitle-info__wrapper" @leaveWait>
                                            <div class="subtitle-info__triangle">
                                            </div>
                                        </div>

                                    </ng-container>
                                </div>
                            </h2>

                            <ng-container *ngIf="rememberInfo.studentsHidden">
                                <div class="class__remember class-remember" @appear @leave>
                                    <button class="class-remember__close" (click)="toggleHide({studentsHidden: true})">
                                        <span></span>
                                        <span></span>
                                    </button>
                                    <ul class="class-remember__items">
                                        <li class="class-remember__item">
                                            <div class="class-remember__icon">
                                                <img src="assets/images/icons/cursor.svg" alt="cursor icon">
                                            </div>
                                            <div class="class-remember__text">
                                                Нажмите на ученика, чтобы перейти на страницу с его личными работами.
                                            </div>
                                        </li>
                                        <li class="class-remember__item">
                                            <div class="class-remember__icon">
                                                <img src="assets/images/icons/ID.svg" alt="cursor icon">
                                            </div>
                                            <div class="class-remember__text">
                                                <span>Номер ученика - это личный ID  в этом классе.</span>
                                                <span>Он нужен, чтобы идентифицировать бланк.</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </ng-container>

                            <ul class="class-items__list">
                                <ng-container *ngFor="let student of classInfo.students; let i = index">
                                    <li class="class-items__item">
                                        <a href="#" (click)="openStudent($event, student.pk)" class="class-items__link">
                                            <span class="class-items__number">
                                                <span>{{ i + 1 }}</span>
                                            </span>
                                            <span class="class-items__content">
                                                {{ student.name }}
                                            </span>
                                        </a>
                                    </li>
                                </ng-container>
                            </ul>

                            <div class="class-items__button">
                                <app-button
                                        (clickEvent)="createStudent()"
                                >Добавить</app-button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="class__column regular">

                    <div class="class__block">
                        <div class="class__items class-items">
                            <h2 class="class-items__title subtitle separate">
                                <span>Тесты</span>
                                <app-button (clickEvent)="createTest()">Добавить</app-button>
                            </h2>

                            <ul class="class-items__list">
                                <ng-container *ngFor="let test of classInfo.quizzes; let i = index">
                                    <li class="class-items__item">
                                        <a href="#" (click)="openTest($event, test.pk)" class="class-items__link">
                                            <span class="class-items__number">
                                                <span>{{ i + 1 }}</span>
                                            </span>
                                            <span class="class-items__content">
                                                {{ test.name | slice: 0:30 }}
                                            </span>
                                        </a>
                                    </li>
                                </ng-container>
                            </ul>

                        </div>
                    </div>

                </div>

                <div class="class__column regular">
                    <div class="class__delete">
                        <app-button
                                mode="red"
                                (clickEvent)="deleteClass()"
                        >
                            удалить класс
                        </app-button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</ng-container>
