<header class="header" @appear>

    <div class="container">

        <div class="header__row">

            <div class="header__item">

                <a href="" class="header__logo header-logo" routerLink="">
                    <div class="header-logo__img">
                        <img src="assets/images/icons/logo.svg" alt="">
                    </div>
                    <div class="header-logo__text">
                        QuicklyCheck
                    </div>
                </a>

                <nav class="header__links header-links">
                    <a href="" class="header-links__item" routerLink="getBlank">
                        скачать бланк
                    </a>
                    <a href="" class="header-links__item" routerLink="">
                        проверить тест
                    </a>
                </nav>

            </div>

            <div class="header__item">

                <a class="header__button" routerLink="./login">
                    войти
                </a>

            </div>

        </div>

    </div>

</header>
