<header class="header" @appear>

    <div class="container">

        <div class="header__row">

            <div class="header__item">

                <a href="" class="header__logo header-logo" routerLink="">
                    <div class="header-logo__img">
                        <img src="assets/images/icons/logo.svg" alt="">
                    </div>
                    <div class="header-logo__text">
                        QuicklyCheck
                    </div>
                </a>

                <nav class="header__links header-links">
                    <ng-container *ngIf="_auth.isLogged$ | async">
                        <a class="header-links__item" routerLink="getBlank">
                            мои классы
                        </a>
                    </ng-container>
                    <a class="header-links__item" routerLink="getBlank">
                        скачать бланк
                    </a>
                    <a class="header-links__item" routerLink="">
                        проверить тест
                    </a>
                </nav>

            </div>

            <div class="header__item">

                <ng-container *ngIf="_auth.isLogged$ | async; else login">
                    <a class="header-links__account" routerLink="/">
                        <img src="assets/images/icons/account.svg" alt="Перейти в аккаунт">
                    </a>
                </ng-container>

                <ng-template #login>
                    <a class="header__button" routerLink="./login">
                        войти
                    </a>
                </ng-template>

            </div>

        </div>

    </div>

</header>
