@import "vars";
@import "classes";

.header {
  box-shadow: 0px -6px 19px 0px rgba(0, 0, 0, 0.33);
  &__row {
    display: flex;
    justify-content: space-between;
    padding: 1.3rem 0;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: .8rem;
  }

  &__links {
  }

  &__button {
    @extend %button;
    @extend %spacing;

    font-weight: 700;
    padding: .8rem 2.85rem;
  }
}

.container {
}

.header-logo {
  &__img {
    height: 3.64rem;
    width: 3.85rem;
    position: relative;

    & img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__text {
    @extend %grad;
    font-weight: 700;
    font-size: 2.1rem;
  //  position: relative;
  //  top: 2px;
  }
}

.header-links {
  margin-left: 3.8rem;
  display: flex;
  align-items: center;
  gap: 2.6rem;

  &__item {
    font-weight: 700;
    font-size: 1.14rem;
    color: $violet;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -3px;
      width: 0%;
      height: 2px;
      background: $violet;
      transition: all ease .4s;
    }

    &:hover {
      &::after{
        width: 98%;
      }
    }
  }
}

