<header
        class="header"
        @animation
        [ngClass]="{
            logged: auth.isLogged$ | async,
            notLogged: (auth.isLogged$ | async) === false
        }"
>

    <div class="container">

        <div
                class="header__blur"
                [ngClass]="{navOpened}"
                (click)="toggleNav()"
        >
        </div>

            <div class="header__row" [ngClass]="{navOpened}">

                <div class="header__burger header-burger">
                    <button
                            class="header-burger__burger"
                            type="button"
                            [ngClass]="{active: navOpened}"
                            (click)="toggleNav()"
                    >
                        <span class="header-burger__item"></span>
                        <span class="header-burger__item"></span>
                        <span class="header-burger__item"></span>
                        <span class="header-burger__item"></span>
                        <span class="header-burger__item"></span>
                    </button>
                </div>

                <a
                        class="header__logo header-logo"
                        [ngClass]="{navOpened}"
                        (click)="navigate('/')"
                >
                    <div class="header-logo__img">
                        <img src="assets/images/icons/logo.svg" alt="">
                    </div>
                    <div class="header-logo__text">
                        QuicklyCheck
                    </div>
                </a>

                <nav class="header__links header-links" [ngClass]="{navOpened}">
                    <div class="header-links__decor" [ngClass]="{navOpened}">

                    </div>
                    <div class="header-links__group">
                        <ng-container *ngIf="auth.isLogged$ | async; else check">
                            <a
                                    class="header-links__item"
                                    (click)="navigate('classes')"
                            >
                                мои классы
                            </a>
                            <ng-container *ngTemplateOutlet="getBlank"></ng-container>
                        </ng-container>

                        <ng-template #check>
                            <ng-container *ngTemplateOutlet="getBlank"></ng-container>
                            <a
                                    class="header-links__item"
                                    (click)="navigate('check')"
                            >
                                проверить тест
                            </a>
                        </ng-template>


                        <ng-template #getBlank>
                            <a
                                    class="header-links__item"
                                    (click)="navigate('getBlank')"
                            >
                                скачать бланк
                            </a>
                        </ng-template>
                    </div>

                    <div class="header-links__group">
                        <ng-container *ngIf="auth.isLogged$ | async; else login">
                            <a
                                    class="header-links__account"
                                    (click)="navigate('profile')"
                            >
                                <img src="assets/images/icons/account.svg" alt="Перейти в аккаунт">
                            </a>
                        </ng-container>

                        <ng-template #login>
                            <a
                                    class="header__button"
                                    (click)="navigate('login')"
                            >
                                войти
                            </a>
                        </ng-template>
                    </div>
                </nav>
        </div>

    </div>

</header>
