@import "vars";
@import "classes";

.pattern {
  display: flex;
  &__wrapper {
    padding: 3rem 3.35rem;

    border-radius: 42px;
    border: 4.437px solid rgba(233, 58, 210, 0.75);
    background: #FBFAFB;
    box-shadow: 4.437px 6.212px 16.861px 0 rgba(0, 0, 0, 0.25);

    @media(max-width:660px){
      padding: 2.5rem 2.35rem;
    }

    @media(max-width:430px){
      padding: 2rem 1.9rem;
    }
  }

  &__vars {
  }

  &__blank {
  }

  &__title {
  }

  &__less {
    color: rgba(237, 106, 220, 0.60);
    font-size: 1.14rem;
    margin-top: 1rem;

    display: flex;
    justify-content: center;

    & span {
      flex: 0 0 26rem;
    }
  }

  &__button {
    color: rgba(237, 106, 220, 0.60);
    font-size: 1.8rem;
    font-family: $comic;
    text-align: right;
  }
  
  &__button-wrap {
    margin-top: 3rem;
    display: flex;
  }

  &__button-grow {
    flex-grow: 1;
  }
}

.pattern-vars {
  &__list {
    display: flex;
    margin-top: .8rem;

    @media(max-width:440px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item-wrap1 {
    display: flex;
    @media(max-width:440px){
      flex: 0 0 100%;
      //justify-content: center;

      &:last-child {
        margin-top: 1rem;
      }
    }
    &:first-child{
      .pattern-vars__item {
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  &__item {
    width: 3rem;
    height: 3rem;
    padding: 3px;
    background: linear-gradient(315deg, rgba(70, 83, 210, 0.99) 3.46%, #E93AD2 92.67%);
    border-radius: 50%;

    &.active {
      .pattern-vars {
        &__item-wrap {
          background: rgba(255, 207, 249, 0.99);
          & span {
            @extend %grad;
            line-height: 1em;
          }
        }
      }
    }

    &.filled {
      .pattern-vars {
        &__item-wrap {
          & span {
            @extend %grad;
            line-height: 1em;
          }
        }
      }
    }

    margin-left: .8rem;

    @media(max-width:540px){
      width: 2.7rem;
      height: 2.7rem;
      margin-left: .6rem;
    }

    @media(max-width:440px) {
      width: 3rem;
      height: 3rem;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__item-wrap {
    background-color: $bgcolor;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-family: $roboto;
    color: rgba(0, 0, 0, 0.40);
    transition: all ease .2s;

    //& span {
    //  position: relative;
    //  //top: 2px;
    //  left: 0;
    //}
  }

  &__text {
    color: rgba(237, 106, 220, 0.60);
    font-size: 1.14rem;
    margin-top: 1rem;
  }
}

.pattern-blank {
  margin-top: 2.3rem;
  padding: 0 1rem;

  @media(max-width:500px){
    padding: .4rem;
  }

  @media(max-width:430px){
    padding: 0;
  }

  &__columns {
    display: flex;
    justify-content: space-between;

    @media(max-width:475px) {
      //justify-content: center;
      //flex-wrap: wrap;
      margin: 0 -1rem;
    }
  }

  &__column {
    @media(max-width:475px){
      //flex: 0 0 100%;
      //display: flex;
      //flex-direction: column;
      //align-items: center;
    }
  }

  &__row {
    height: 2.4rem;

    @media(max-width:475px) {
      width: fit-content;
    }

    &:nth-child(2) {
      //height: 3rem;
      //padding-top: .5rem;
      //.pattern-blank__item_right {
      //  height: 3rem;
      //}
    }

    &_header {
      font-weight: 500;
      border-bottom: 2px solid black;
    }

    display: flex;
  }

  &__title {
    font-size: 1.6rem;

    & span {
      position: relative;
      left: 2px;
      top: 0;
    }
  }

  &__item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &_left {
      width: 4.6rem;
      border-right: 2px solid black;
      font-weight: 500;
      font-size: 1.36rem;

      @media(max-width:475px){
        width: 2.8rem;
      }
    }

    &_right {
      width: 11.4rem;
      @media(max-width:475px) {
        width: 11rem;
      }
    }

    color: #000;
    font-family: $roboto;

    & input {
      display: none;
      appearance: none;

      //&:checked + label {
      //  background: rgba(255, 207, 249, 0.99);
      //}
    }

    & label {
      width: 1.6rem;
      height: 1.6rem;
      font-size: 1rem;
      border: 1px solid black;
      cursor: pointer;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(0, 0, 0, 0.40);

      transition: all ease .2s;

      margin-left: .4rem;

      //&:nth-child(2) {
      //  margin-left: 0;
      //}

      @media(max-width:475px) {
        width: 1.9rem;
        height: 1.9rem;
      }

      &.active {
        background: rgba(255, 207, 249, 0.99);
      }
    }
  }

  &__subtitle {
    font-size: 1.3rem;
  }
}
