@import "vars";
@import "classes";

:host {
  display: inline-block;
}

.button {
  display: inline-block;
  @extend %button;
  padding: 3px;

  &__wrap {
    border-radius: 100px;
    background-color: $bgcolor;
    padding: .5rem 2.7rem;
    
    @media(max-width:1200px){
      padding: .5rem 2.35rem;
    }

    @media(max-width:1000px){
      padding: .5rem 2rem;
    }
  }
  
  &__button {
    @extend %grad;
    font-family: $futura;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: .03em;
    text-transform: uppercase;
    white-space: nowrap;

    @media(max-width:1200px){
      font-size: 1.2rem;
    }

    @media(max-width:1000px){
      font-size: 1.1rem;
    }
  }

  &.filled {
    .button {
      &__wrap {
        background: transparent;
      }

      &__button {
        @extend %nograd;
        color: white;
        -webkit-text-fill-color: white;
        background: transparent;
      }
    }
  }

  &.red {
    background: $red;

    & .button__button {
      @extend %nograd;
      -webkit-text-fill-color: $red;
      color: $red;
    }
  }
}
