@import "vars";
@import "classes";

.card {
  &__wrapper {
    padding: 2.75rem 1.8rem;
    border: 4.045px solid rgba(233, 58, 210, 0.75);
    border-radius: 35px;
    background: #F6F6F6;
    box-shadow: 18.608px 20.226px 60.677px 0px rgba(0, 0, 0, 0.06);
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @extend %grad;
    font-size: 2.14rem;
    font-weight: 700;
  }

  &__buttons {
    display: flex;
  }

  &__button {
    &:last-child {
      margin-left: 3.5rem;
    }
  }
}
