<ng-container *ngIf="message">
    <section
            class="confirm"
            @animation
            (click)="confirm(false)"
            appEscape
            (escapeEvent)="confirm(false)"
    >

        <div class="confirm__wrapper" (click)="stopPropagation($event)">
            <div class="confirm__image">
                <img src="https://storage.yandexcloud.net/qucklycheck/confirm.svg" alt="">
            </div>
            <div class="confirm__message">
                <span>{{ message.message }}</span>
            </div>

            <div class="confirm__buttons">
                <button
                        class="confirm__button"
                        (click)="confirm(false)"
                >
                    Отмена
                </button>
                <app-button (clickEvent)="confirm(true)">
                    {{ message.buttonText }}
                </app-button>
            </div>
        </div>
    </section>

</ng-container>
