<section class="error" @appear>
    <div class="error__container container">
        <div class="error__wrapper">

            <div class="error__decor">
                <div class="error__line">
                    <img src="https://storage.yandexcloud.net/qucklycheck/path-error.svg" alt="">
                </div>
                <div class="error__plane">
                    <img src="https://storage.yandexcloud.net/qucklycheck/plane-error.svg" alt="">
                </div>
            </div>

            <div class="error error_content">
                <h1 class="error__title">
                    ошибка 404
                </h1>
            </div>

        </div>
    </div>
</section>
