<div class="password__wrapper" @appear>

    <h1 class="password__title">
        <span>Изменение пароля</span>
    </h1>

    <form action="#"  class="password__form password-form" (ngSubmit)="submit()">
        <div class="password-form__field">
            <div class="password-form__name">
                Введите старый пароль:
            </div>
            <div class="password-form__input-wrap">
                <input
                        type="password"
                        value=""
                        [formControl]="changeForm.controls.oldPassword"
                        placeholder="Введите старый пароль"
                        #old
                >
                <div class="password-form__show" (click)="old.type = old.type === 'text' ? 'password' : 'text'">
                    <img src="assets/images/icons/show.svg" alt="">
                </div>
            </div>
        </div>

        <div class="password-form__field">
            <div class="password-form__name">
                Введите новый пароль:
            </div>
            <div class="password-form__input-wrap">
                <input
                        type="password"
                        value=""
                        [formControl]="changeForm.controls.password"
                        placeholder="Введите новый пароль"
                        #newPass
                >
                <div class="password-form__show" (click)="newPass.type = newPass.type === 'text' ? 'password' : 'text'">
                    <img src="assets/images/icons/show.svg" alt="">
                </div>
            </div>
        </div>

        <div class="password-form__field">
            <div class="password-form__name">
                Повторите новый пароль:
            </div>
            <div class="password-form__input-wrap">
                <input
                        type="password"
                        value=""
                        [formControl]="changeForm.controls.repeatPassword"
                        placeholder="Повторите новый пароль"
                        #newRepeat
                >
                <div class="password-form__show" (click)="newRepeat.type = newRepeat.type === 'text' ? 'password' : 'text'">
                    <img src="assets/images/icons/show.svg" alt="">
                </div>
            </div>
        </div>

        <div class="password-form__buttons">
            <a href="#" class="password-form__back" (click)="return($event)">
                Назад
            </a>
            <div
                    class="password-form__save"
                    [ngClass]="{visible: passSave}"
            >
                <app-button (clickEvent)="submit()" >Сохранить</app-button>
            </div>
        </div>
    </form>

</div>
