@import "vars";
@import "classes";


.password {
  &__wrapper {
    max-width: 60rem;
    width: 100%;
    padding: 3.8rem 9rem;
    margin: 0 auto;

    border-radius: 41.453px;
    border: 4.318px solid rgba(233, 58, 210, 0.75);
    box-shadow: 4.318px 6.045px 16.409px 0px rgba(0, 0, 0, 0.25);
  }

  &__title {
    display: flex;
    justify-content: center;
    font-size: 2.14rem;
    font-weight: 700;

    & span {
      @extend %grad;
    }
  }

  &__form {
    margin-top: 3.2rem;
  }
}

.password-form {
  &__field {
    display: flex;
    align-items: center;

    margin-top: 1.3rem;

    &:first-child {
      margin-top: 0;
    }
  }

  &__name {
    flex: 0 0 45%;
    font-size: 1.4rem;
  }

  &__input-wrap {
    flex: 0 0 55%;
    position: relative;

    & input {
      width: 100%;
      font-size: 1.4rem;
      padding: .6rem 2rem .6rem 1rem;

      border-radius: .5rem;
      border: 1.574px solid #ED6ADC;
      box-shadow: 0px 1.574px 4.722px 0px rgba(0, 0, 0, 0.31);
      transition: all ease .3s;

      &:focus {
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
      }
    }
  }

  &__show {
    & img {
      position: absolute;
      top: 50%;
      right: 8px;

      transform: translateY(-50%);
    }
  }

  &__buttons {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__back {
    font-family: $comic;
    font-size: 1.8rem;
    color: $pink;
  }

  &__save {
    opacity: 0;
    position: relative;
    transform: translateY(5px);
    transition: all ease .3s;
    pointer-events: none;

    &.visible {
      opacity: 1;
      transform: none;
      pointer-events: all;
    }
  }
}
