<ng-container *ngIf="!test">
    <app-loader>
        Загружаем тест
    </app-loader>
</ng-container>

<ng-container *ngIf="test">
    <div class="test" @appear>
        <div class="test__wrapper">

            <div class="test__title-wrap">
                <div class="test__block">
                    <app-bread-crumbs
                            [crumbs]="crumbs">
                    </app-bread-crumbs>
                    <div class="test__title test-title">
                        <h1 class="test-title__item">
                            <span>
                                {{ test.name }}
                            </span>
                        </h1>
                        <div class="test-title__item">
                            <app-button (clickEvent)="fillTest()">редактировать</app-button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="test__columns">
                <div class="test__column">
                    <div class="test__block test__assessment test-assessment">

                        <h3 class="test-assessment__title">
                            <span>Оценивание</span>
                            <button (click)="openAssessment()" type="button" class="test-assessment__edit">
                                <img src="assets/images/icons/pencil.svg" alt="">
                                <img src="assets/images/icons/pencil-pink.svg" alt="">
                            </button>
                        </h3>

                        <ul class="test-assessment__columns">

                            <ng-container *ngTemplateOutlet="
                                assessmentColumn;
                                context: { 'content': getValuesForColumn('от'), 'cssClass': 'from-text' }">
                            </ng-container>

                            <ng-container *ngTemplateOutlet="
                                assessmentColumn;
                                context: { 'content': getValuesForColumn('minPr'), 'cssClass': 'from' }">
                            </ng-container>

                            <ng-container *ngTemplateOutlet="
                                assessmentColumn;
                                context: { 'content': getValuesForColumn('до'), 'cssClass': 'to-text' }">
                            </ng-container>

                            <ng-container *ngTemplateOutlet="
                                assessmentColumn;
                                context: { 'content': getValuesForColumn('maxPr'), 'cssClass': 'to' }">
                            </ng-container>

                            <ng-container *ngTemplateOutlet="
                                assessmentColumn;
                                context: { 'content': getValuesForColumn('—'), 'cssClass': 'separator' }">
                            </ng-container>

                            <ng-container *ngTemplateOutlet="
                                assessmentColumn;
                                context: { 'content': getValuesForColumn('name'), 'cssClass': 'grad' }">
                            </ng-container>

                            <ng-template #assessmentColumn let-content="content" let-cssClass="cssClass">
                                <ul class="test-assessment__column test-assessment__column_{{ cssClass }}">
                                    <ng-container *ngFor="let e of content">
                                        <li class="test-assessment__item test-assessment__item_{{ cssClass }}">
                                            {{ e }}
                                        </li>
                                    </ng-container>
                                </ul>
                            </ng-template>
                        </ul>

                    </div>
                </div>

                <div class="test__column">
                    <div class="test__stats">
                        <div class="stats-box">

                            <div class="stats-box__wrapper">
                                <div class="stats-box__container">
                                    <div class="stats-box__content">
                                        <div class="test__block stats-box__flex">
                                            <h2 class="stats-box__title">
                                                Средний балл
                                            </h2>
                                            <div class="stats-box__text">
                                                {{ test.stats.avgScore | number : ".0" }}%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="stats-box__wrapper">
                                <div class="stats-box__container">
                                    <div class="stats-box__content">
                                        <div class="test__block stats-box__flex">
                                            <h2 class="stats-box__title">
                                                Самый сложный вопрос
                                            </h2>
                                            <div class="stats-box__text">
                                                <ng-container *ngIf="stats !== null && Object.keys(stats.stats.questions).length > 0">
                                                    №{{ stats.stats.mostHardQuestion! | number : ".0" }}
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="stats !== null && Object.keys(stats.stats.questions).length > 0">
                <div class="test__bars test-bars">
                    <div class="test__block">
                        <div class="test-bars__wrapper">
                            <h2 class="test-bars__title">
                                Ответы на вопросы
                            </h2>

                            <div class="test-bars__container">
                                <ul class="test-bars__list">
                                    <ng-container *ngFor="let questionStatKey of Object.keys(stats.stats.questions)">
                                        <li class="test-bars__item">
                                            <div class="test-bars__bar">
                                                <span style="height:{{ stats.stats.questions[questionStatKey] }}%">
                                                </span>
                                            </div>
                                            <div class="test-bars__number">
                                                {{ questionStatKey }}
                                            </div>
                                        </li>
                                    </ng-container>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <div class="test__works">

                <h2 class="test__subtitle">
                    <span>Проверенные бланки</span>
                </h2>

                <div class="test__block">
                    <ul class="works__bar works-bar">
                        <li class="works-bar__item number">
                            Номер
                        </li>
                        <li class="works-bar__item name">
                            Фамилия Имя
                        </li>
                        <li class="works-bar__item score">
                            Балл/Оц.
                        </li>
                        <li class="works-bar__item date">
                            Дата загрузки
                        </li>
                        <li class="works-bar__item delete">

                        </li>
                    </ul>

                    <ul class="works__list works-list">
                        <ng-container *ngFor="let work of test.blanks; let i = index">
                            <li class="works-list works-list__item">
                                <a href="#" (click)="showBlank($event, work.pk)" class="works-list__link">
                                    <span class="works-list__item number">
                                        {{ i + 1 }}
                                    </span>
                                    <span class="works-list__item name">
                                        <span>{{ work.authorInfo.name }}</span>
                                    </span>
                                    <span class="works-list__item score">
                                        {{ work.blankScore.percentage | number : ".0-0" }}/{{ work.assessment | slice : 0:4 }}
                                    </span>
                                    <span class="works-list__item date">
                                        {{ work.createdAt | date: "dd.MM.YYYY" }}
                                    </span>
                                    <span class="works-list__item delete">
                                        <a href="#" class="delete__button" (click)="deleteBlank($event, i)">
                                            <img src="assets/images/icons/deleteGrey.svg" alt="">
                                            <img src="assets/images/icons/delete.svg" alt="">
                                        </a>
                                    </span>
                                </a>
                            </li>
                        </ng-container>
                    </ul>
                    <div class="test__check">
                        <app-button
                                mode="filled"
                                (clickEvent)="navigateBlankButton()"
                        >
                            <ng-container *ngIf="showCheckButton; else fillVarsText">
                                проверить работу
                            </ng-container>
                            <ng-template #fillVarsText>
                                добавить варианты
                            </ng-template>
                        </app-button>
                    </div>

                </div>
            </div>

            <ng-container *ngIf="test.invalidBlanks.length > 0">
                <div class="test__works">
                    <h2 class="test__subtitle wrong">
                        <span>Несчитанные бланки</span>
                    </h2>

                    <div class="test__block">
                        <ul class="works__bar works-bar">
                            <li class="works-bar__item number">
                                Номер
                            </li>
                            <li class="works-bar__item name">
                                Фамилия Имя
                            </li>
                            <li class="works-bar__item date">
                                Дата загрузки
                            </li>
                            <li class="works-bar__item delete">

                            </li>
                        </ul>

                        <ul class="works__list works-list">
                            <ng-container *ngFor="let work of test.invalidBlanks; let i = index">
                                <li class="works-list works-list__item">
                                    <a href="#" (click)="showInvalidBlank($event, work.pk)" class="works-list__link">
                                        <span class="works-list__item number">
                                            {{ i + 1 }}
                                        </span>
                                        <span class="works-list__item name wrong">
                                            <span>Неизвестно</span>
                                        </span>
                                        <span class="works-list__item date">
                                            {{ work.createdAt | date: "dd.MM.YYYY" }}
                                        </span>
                                        <span class="works-list__item delete">
                                            <a href="#" class="delete__button" (click)="deleteInvalidBlank($event, i)">
                                                <img src="assets/images/icons/deleteGrey.svg" alt="">
                                                <img src="assets/images/icons/delete-red.svg" alt="">
                                            </a>
                                        </span>
                                    </a>
                                </li>
                            </ng-container>
                        </ul>

                    </div>
                </div>
            </ng-container>


            <div class="test__delete">
                <app-button
                        [mode]="'red'"
                        (clickEvent)="deleteTest()"
                >удалить тест
                </app-button>
            </div>

        </div>
    </div>

    <app-assessment
            [assessments]="test.assessments"
            [(isOpened)]="isAssessmentOpened"
            (assessmentsChanged)="updateAssessments($event)"
    >
    </app-assessment>
</ng-container>
