@import "vars";
@import "classes";

.test {
  &__wrapper {
  }

  &__block {
    @extend %block;
    position: relative;
    height: 100%;
  }

  &__title-wrap {
    width: 100%;
  }

  &__title {
  }

  &__list-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &__columns {
    display: flex;
    margin-top: 2rem;

    @media(max-width:505px){
      flex-wrap: wrap;
    }
  }

  &__column {

    &:nth-child(1) {

      flex: 0 0 21.5rem;

      @media(max-width:880px){
        padding-left: 0;
      }
    }

    &:nth-child(2) {
      flex-grow: 1;
      margin-left: 1.2rem;

      @media(max-width:505px){
        flex: 0 0 100%;
        margin-left: 0;
        margin-top: 1.2rem;
      }
    }
  }

  &__subtitle {
    & span {
      @extend %title;
      font-size: 2.14rem;

      @media(max-width:700px) {
        font-size: 2rem;
      }
    }

    &.wrong {
      & span {
        @extend %nograd;
        color: $red;
      }
    }
  }

  &__list {
  }

  &__stats {
    @extend %stats;
    flex-grow: 1;
    height: 100%;

    & .stats-box {
      flex-direction: row;
      height: 100%;
      margin: 0;

      &__wrapper {
        flex: 1 0 50%;
        height: 100%;
        padding: 0;

        &:first-child {
          padding-right: .65rem;
        }
        &:last-child {
          padding-left: .65rem;
        }
      }

      &__container {
        padding-top: 0;
        height: 100%;
      }

      &__text {
        @media(max-width:860px){
          font-size: 6rem;
        }

        @media(max-width:710px){
          font-size: 5rem;
        }

        @media(max-width:630px){
          font-size: 3.8rem;
        }

        @media(max-width:570px){
          font-size: 3rem;
        }

        @media(max-width:540px){
          font-size: 2rem;
        }

        @media(max-width:505px){
          font-size: 3rem;
        }
      }
    }
  }
}

.test-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media(max-width:700px){
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  &__item {
    & span {
      @extend %title;
    }

    &:first-child {
      @extend %grad;
      font-size: 2.5rem;
      font-weight: 700;
      text-align: center;
    }

    &:last-child {
      margin-left: 1rem;
    }
  }
}

.test-assessment {
  &__title {
    & span {
      @extend %title;
      font-size: 2.14rem;

      @media(max-width:700px) {
        font-size: 2rem;
      }
    }
  }

  &__list {
    margin-top: 1.2rem;
  }

  &__grad-item {
    display: flex;
    font-size: 1.5rem;
    margin-top: .7rem;

    &:first-child {
      margin-top: 0;
    }
  }

  &__justify {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }
}

.test {
  &__works {
    @extend %works;
    margin-top: 1.3rem;
  }

  &__subtitle {
    padding-left: 2.9rem;

    @media(max-width:560px) {
      padding-left: 2rem;
    }
    margin-bottom: 1.3rem;
  }

  &__block {
  }

  &__check {
    margin-top: 2rem;
  }

  &__delete {
    margin-top: 2rem;
  }
}
