<ng-container *ngIf="!test">
    <app-loader>
        Загружаем тест
    </app-loader>
</ng-container>

<ng-container *ngIf="test">
    <div class="test" @appear>
        <div class="test__wrapper">

            <div class="test__title-wrap">
                <div class="test__block">
                    <ng-container *ngIf="classInfo">
                        <app-return
                                (returnEvent)="navigateClass()"
                        >
                            Класс {{ classInfo.number }}{{ classInfo.letter }}
                        </app-return>
                    </ng-container>

                    <div class="test__title test-title">
                        <h1 class="test-title__item">
                            <span>
                                {{ test.name }}
                            </span>
                        </h1>
                        <div class="test-title__item">
                            <app-button (clickEvent)="fillTest()">редактировать</app-button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="test__list-wrap">

                <div class="test__column">
                    <div class="test__block">
                        <h2 class="test__subtitle">
                            <span>Проверенные бланки</span>
                        </h2>

                        <ng-container *ngIf="test.blanks.length > 0">
                            <ul class="test__list test-list">

                                <ng-container *ngFor="let blank of test.blanks; let i = index">
                                    <li class="test-list__item normal" @animateOut>
                                        <div class="test-list__number normal">
                                            <span>{{ i + 1 }}.</span>
                                        </div>

                                        <button
                                                type="button"
                                                class="test-list__author"
                                                (click)="showBlank(blank.pk)"
                                        >
                                            <span>{{ blank.author }}</span>
                                        </button>

                                        <div class="test-list__right">
                                            {{ blank.correctCount }}/{{ blank.answers.length }}
                                        </div>

                                        <button type="button" class="test-list__delete" (click)="deleteBlank(i)">
                                            <img src="assets/images/icons/deleteGrey.svg" alt="">
                                            <img src="assets/images/icons/delete.svg" alt="">
                                        </button>

                                    </li>
                                </ng-container>

                            </ul>
                        </ng-container>

                        <ng-container *ngIf="showCheckButton">
                            <div class="test__check">
                                <app-button
                                        mode="filled"
                                        (clickEvent)="checkMore()"
                                >проверить работу</app-button>
                            </div>
                        </ng-container>
                    </div>

                    <ng-container *ngIf="test.invalidBlanks.length > 0">

                        <div class="test-wrong" @animateOut>

                            <h2 class="test-wrong__subtitle">
                                Непроверенные бланки
                            </h2>

                            <ul class="test__wrong test-wrong__list test-list">

                                <ng-container *ngFor="let blank of test.invalidBlanks; let i = index">
                                    <li class="test-list__item test-wrong__item" @animateOut>
                                        <div class="test-list__number test-wrong__number">
                                            <span>{{ i + 1 }}.</span>
                                        </div>

                                        <button
                                                type="button"
                                                class="test-list__author test-wrong__author"
                                                (click)="showInvalidBlank(blank.pk)"
                                        >
                                            <span>Неизвестно</span>
                                        </button>

                                        <div class="test-list__right test-wrong__right">
                                            {{ blank.created_at.getDate() | number:'2.0' }}.{{ blank.created_at.getMonth() + 1 | number:'2.0' }}.{{ blank.created_at.getFullYear() }}
                                        </div>

                                        <button type="button" class="test-list__delete test-wrong__delete" (click)="deleteInvalidBlank(i)">
                                            <img src="assets/images/icons/deleteGrey.svg" alt="">
                                            <img src="assets/images/icons/delete-red.svg" alt="">
                                        </button>

                                    </li>
                                </ng-container>

                            </ul>

                            <div class="test-wrong__buttons">
                                <div class="test-wrong__button">
                                    <app-button
                                            mode="red"
                                            (clickEvent)="deleteAllInvalid()"
                                    >
                                        удалить все
                                    </app-button>
                                </div>
                            </div>
                        </div>

                    </ng-container>


                    <div class="test__delete">
                        <app-button
                                [mode]="'red'"
                                (clickEvent)="deleteTest()"
                        >удалить тест</app-button>
                    </div>
                </div>

                <div class="test__column">
                    <div class="test__block test__assessment test-assessment">

                        <h3 class="test-assessment__title">
                            <span>Оценивание</span>
                        </h3>

                        <ul class="test-assessment__list">
                            <ng-container *ngFor="let grad of assessment; let i = index">
                                <li class="test-assessment__grad-item">
                                    от
                                    &nbsp;
                                    <div class="test-assessment__justify">
                                        <span><ng-container *ngIf="i === assessment.length - 1">&nbsp;&nbsp;</ng-container>{{ grad.from }}%</span>
                                        <span>до</span>
                                        <span>{{ grad.to }}% <ng-container *ngIf="i !== 0">&nbsp;</ng-container></span>
                                    </div>
                                    &nbsp;
                                    — {{ grad.point }}
                                </li>
                            </ng-container>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
