<section class="blank" @appear>
    <div class="container">
        <div class="blank__wrapper">

            <div class="blank__columns">

                <div class="blank__column">

                    <div class="blank__image">
                        <img ngSrc="assets/images/getBlank/blank.jpg" alt="Изображение бланка" height="1280" width="988">
                    </div>

                </div>

                <div class="blank__column">

                    <div class="blank__content">
                        <h1 class="blank__title">
                            Как работать с бланком?
                        </h1>
                        <h2 class="blank__subtitle">
                            Чтобы сервис проверил тестовую работу, необходимо вносить ответы на специальный бланк.
                        </h2>
                        <div class="blank__instruction">
                            Инструкция по работе с бланком
                        </div>
                        <ul class="blank__list">
                            <li class="blank__item">
                                <div class="blank__number">
                                    1
                                </div>
                                <div class="blank__text">
                                    Скачайте бланк и распечатайте нужное количество экземпляров (на каждого ученика в классе по одному экземпляру)
                                </div>
                            </li>
                            <li class="blank__item">
                                <div class="blank__number">
                                    2
                                </div>
                                <div class="blank__text">
                                    Заполните бланк, закрашивая нужные варианты ответов. Если в вашем тесте меньше 40 вопросов, оставьте ненужные поля пустыми
                                </div>
                            </li>
                            <li class="blank__item">
                                <div class="blank__number">
                                    3
                                </div>
                                <div class="blank__text">
                                    Сфотографируйте или отсканируйте заполненные бланки
                                </div>
                            </li>
                            <li class="blank__item">
                                <div class="blank__number">
                                    4
                                </div>
                                <div class="blank__text">
                                    Скачайте бланк и распечатайте нужное количество экземпляров
                                    (на каждого ученика в классе по одному экземпляру)
                                </div>
                            </li>
                            <li class="blank__item">
                                <div class="blank__number">
                                    5
                                </div>
                                <div class="blank__text">
                                    Перейдите в раздел <a [routerLink]="['/', 'check']">Проверить тест</a>
                                </div>
                            </li>
                        </ul>

                        <div class="blank__download">
                            <a href="assets/images/getBlank/blank.jpg" download>
                                <app-button [filled]="true">Скачать бланк</app-button>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
