@import "vars";
@import "classes";

:host {
  flex-grow: 1;
}


.blank {
  padding: 4.6rem 0;

  &__wrapper {
  }

  &__columns {
    display: flex;

    @media(max-width:700px) {
      flex-wrap: wrap;
    }
  }

  &__column {
    &:first-child {
      flex: 0 0 35%;
    }
    &:last-child {
      flex: 0 0 65%;
    }

    @media(max-width:700px){
      &:first-child {
        flex: 0 0 100%;
        order: 2;
      }
      &:last-child {
        flex: 0 0 100%;
      }
    }
  }

  &__image-wrap {
    width: 100%;
    margin: 0 auto;

    @media(max-width:700px){
      margin-top: 2rem;
      width: 70%;
    }

    @media(max-width:500px){
      width: 90%;
    }

    @media(max-width:400px){
      width: 100%;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    padding-top: 145%;

    box-shadow: 0 16px 24px 0 rgba(#4C4A4A, .2);

    & img {
      position: absolute;
      width: 100%;
      height: 100%;
      display: inline-block;
      left: 0;
      top: 0;
    }
  }

  &__content {
    padding-left: 2.9rem;

    @media(max-width:450px){
      padding-left: 0;
    }
  }

  &__title {
    @extend %grad;
    font-weight: 700;
    letter-spacing: 0.05em;
    font-size: 2.14rem;
  }

  &__subtitle {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 1.5rem;
  }

  &__instruction {
    margin-top: 1.3rem;
    color: $darkGrey;
    font-size: 1.14rem;
  }

  &__list {
    margin-top: 2.9rem;
  }

  &__item {
    margin-top: 1.5rem;

    :first-child {
      margin-top: 0;
    }

    display: flex;
  }

  &__number {
    flex: 0 0 2.14rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: $violet;
    position: relative;
    top: 4px;
    left: 0;
  }

  &__text {
    font-size: 1.4rem;
    line-height: 1.4em;

    & a {
      color: $violet;
      display: inline-block;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0px;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: $violet;
      }
    }
  }

  &__download {
    margin-top: 2.8rem;

    & a {
      display: inline-block;
    }
  }
}
