<section class="class">

    <div class="class__container container">

        <div class="class__wrapper">

            <ng-container *ngIf="classInfo">

                <div class="class__content" @appear>

                    <div class="class__title">

                        <app-title>
                            {{classInfo.number}}{{classInfo.letter}} класс
                        </app-title>

                    </div>

                    <div class="class__body">
                        <div class="class__item">
                            <app-card>
                                <ng-container title>
                                    Список учеников
                                </ng-container>
                                <ng-container button1>
                                    <app-button [filled]="true" (clickEvent)="openStudents()">
                                        открыть
                                    </app-button>
                                </ng-container>

                                <ng-container button2>
                                    <app-button>
                                        удалить
                                    </app-button>
                                </ng-container>
                            </app-card>
                        </div>
                        <div class="class__item">
                            <app-card>
                                <ng-container title>
                                    Тестовые работы
                                </ng-container>
                                <ng-container button1>
                                    <app-button [filled]="true">
                                        открыть
                                    </app-button>
                                </ng-container>

                                <ng-container button2>
                                    <app-button>
                                        добавить
                                    </app-button>
                                </ng-container>
                            </app-card>
                        </div>


                    </div>

                </div>
            </ng-container>

        </div>

    </div>

</section>
