@import "vars";
@import "classes";

:host {
  flex-grow: 1;
}

.class {
  &__container {
  }

  &__wrapper {
  }

  &__content {
    margin-top: 4.6rem;
  }

  &__title {
  }

  &__body {
    margin-top: 4rem;
  }

  &__item {
    margin-top: 3.6rem;

    &:first-child {
      margin-top: 0;
    }
  }
}

.container {
}
