<ng-container *ngIf="!student">
    <app-loader>
        Загружаем ученика
    </app-loader>
</ng-container>

<ng-container *ngIf="student">
    <div class="student" @appear>
        <div class="student__wrapper">

            <div class="student__block">
                <div class="student__header">
                    <div class="student__title">
                        <div>
                            <span>{{ student.name }},</span>
                            <span>{{ student.classInfo.number }}{{ student.classInfo.letter }} класс</span>
                        </div>
                        <div>
                            <app-button (clickEvent)="rename()">
                                изменить
                            </app-button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="student__content">
                <div class="student__works student-works">
                    <div class="student__block">

                        <h2 class="student-works__title">
                            Список тестовых работ
                        </h2>

                        <ul class="student-works__list student-works-list">
                            <ng-container *ngFor="let work of student.works; let i = index">
                                <li class="student-works-list__item">
                                    <div class="student-works-list__number">
                                        <span>{{ i + 1 }}.</span>
                                    </div>

                                    <button
                                            type="button"
                                            class="student-works-list__name"
                                            (click)="showBlank(work.pk)"
                                    >
                                        <span>{{ work.testName }}</span>
                                    </button>

                                    <div class="student-works-list__score">
                                        <span class="student-works-list__percent">{{ work.percentage }}%</span>
                                        <span>{{ work.right }}/{{ work.actual }}</span>
                                    </div>
                                </li>
                            </ng-container>
                        </ul>
                    </div>

                    <div class="student__delete">
                        <app-button
                                (clickEvent)="deleteStudent()"
                        >
                            Удалить ученика
                        </app-button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</ng-container>
