@import "vars";
@import "classes";


.student {
  &__wrapper {
  }

  &__block {
    @extend %block;
    position: relative;
    height: 100%;
  }

  &__header {
  }

  &__title {
    display: flex;
    justify-content: space-between;
    //align-items: center;

    @media(max-width:700px) {
      flex-wrap: wrap;
    }

    & > div {
      &:nth-child(1) {
        @extend %title;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: .5rem;
      }

      &:nth-child(2) {
        margin-left: 1rem;
        margin-top: .5rem;

        @media(max-width:700px) {
          margin-left: 0;
          margin-top: 1rem;
        }
      }
    }
  }

  &__content {
  }

  &__works {
    margin-top: .65rem;
  }

  &__top {
    margin-top: 1rem;
  }

  &__delete {
    margin-top: 1.5rem;
  }
}

.student {
  &__columns {
    margin: 0 -0.65rem;
    display: flex;
    flex-wrap: wrap;

    @media(max-width:630px) {
      flex-wrap: wrap;
    }

    &.first {
      margin-top: 0.65rem;
      flex-wrap: nowrap;

      @media(max-width:630px) {
        flex-wrap: nowrap;
      }

      @media(max-width:560px) {
        flex-wrap: wrap;
      }
    }
  }

  &__column {
    padding: 0.65rem;

    &.regular {
      flex: 0 0 50%;

      @media(max-width:630px){
        flex: 0 0 100%;
      }
    }

    &.small {
      flex: 0 0 28%;

      @media(max-width:560px) {
        flex: 0 0 100%;
      }
    }

    &.big {
      flex-grow: 1;

      & .class__block {
        height: 100%;
      }

      @media(max-width:560px) {
        flex: 0 0 100%;
      }
    }
  }
}

.student-stats {
  @extend %stats;
}

.student {
  &__works {
    @extend %works;

    & .name {
      position: relative;
      overflow: hidden;
      margin-right: 1rem;

      & span {
        position: absolute;
        display: block;
        left: 0;
        top: 0;
      }
    }
  }

  &__block {
  }
}

.student-works {
  &__title-wrap {
    padding-left: 2.9rem;

    @media(max-width:560px) {
      padding-left: 2rem;
    }
  }

  &__title {
    @extend %title;
    font-size: 2.14rem;
  }
}
