<ng-container *ngIf="!student">
    <app-loader>
        Загружаем ученика
    </app-loader>
</ng-container>

<ng-container *ngIf="student">
    <div class="student" @appear>
        <div class="student__wrapper">

            <div class="student__block">
                <app-return
                        (returnEvent)="navigateClass()"
                >
                    Класс {{ student.gradeDetail.number }}{{ student.gradeDetail.letter }}
                </app-return>
                <div class="student__header">
                    <div class="student__title">
                        <div>
                            <span>{{ student.name }},</span>
                            <span>{{ student.gradeDetail.number }}{{ student.gradeDetail.letter }} класс</span>
                        </div>
                        <div>
                            <app-button (clickEvent)="rename()">
                                изменить
                            </app-button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="student__content">
                <div class="student__columns first student-stats">
                    <div class="student__column small">
                        <div class="student__stats stats-box">

                            <div class="stats-box__wrapper">
                                <div class="stats-box__container">
                                    <div class="stats-box__content">
                                        <div class="student__block">
                                            <h2 class="stats-box__title">
                                                Средний балл
                                            </h2>
                                            <div class="stats-box__text">
                                                85%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="stats-box__wrapper">
                                <div class="stats-box__container">
                                    <div class="stats-box__content">
                                        <div class="student__block">
                                            <h2 class="stats-box__title">
                                                Худший средний балл
                                            </h2>
                                            <div class="stats-box__text">
                                                30%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="student__column big">
                        <div class="student__block">
                            <div class="stats-line">
                                <div class="stats-line__bar stats-line-bar">
                                    <div class="stats-line-bar__wrapper">
                                        <button type="button"
                                                class="stats-line-bar__item active"
                                                #timelineChanger
                                                #month
                                                (click)="changeTimeline(Timelines.Month, month)">
                                            <div class="stats-line-bar__text">
                                                Месяц
                                            </div>
                                        </button>
                                        <button type="button"
                                                class="stats-line-bar__item common"
                                                #timelineChanger
                                                #year
                                                (click)="changeTimeline(Timelines.Year, year)">
                                            <div class="stats-line-bar__text">
                                                Учебный год
                                            </div>
                                        </button>
                                        <button type="button"
                                                class="stats-line-bar__item common"
                                                #timelineChanger
                                                #all
                                                (click)="changeTimeline(Timelines.AllTime, all)">
                                            <div class="stats-line-bar__text">
                                                Все время
                                            </div>
                                        </button>
                                    </div>
                                </div>

                                <div class="stats-line__chart stats-line-chart">
                                    <div #chartWrapper class="stats-line-chart__wrapper">
                                        <canvas #lineChart>
                                        </canvas>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="student__works student-works">
                    <div class="student__block">

                        <h2 class="student-works__title">
                            Список тестовых работ
                        </h2>

                        <ul class="student-works__list student-works-list">
                            <ng-container *ngFor="let work of student.works; let i = index">
                                <li class="student-works-list__item">
                                    <div class="student-works-list__number">
                                        <span>{{ i + 1 }}.</span>
                                    </div>

                                    <button
                                            type="button"
                                            class="student-works-list__name"
                                            (click)="showBlank(work.pk)"
                                    >
                                        <span>{{ work.testName }}</span>
                                    </button>

                                    <div class="student-works-list__score">
<!--                                        <span class="student-works-list__percent">{{ work.percentage }}%</span>-->
<!--                                        <span>{{ work.right }}/{{ work.actual }}</span>-->
                                    </div>
                                </li>
                            </ng-container>
                        </ul>
                    </div>

                    <div class="student__delete">
                        <app-button
                                mode="red"
                                (clickEvent)="deleteStudent()"
                        >
                            Удалить ученика
                        </app-button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</ng-container>
