@import "vars";
@import "classes";


.view {
  position: relative;

  &__wrapper {

  }

  &__main {
    border-radius: 43px;
    border: .5rem solid rgba(233, 58, 210, 0.75);
    background: #FBFAFB;
    box-shadow: 8.227px 11.518px 31.262px 0px rgba(0, 0, 0, 0.25);
    padding: 3.6rem 10rem;

    @media(max-width:1100px){
      padding: 3.6rem 7rem;
    }

    @media(max-width:950px){
      padding: 3.6rem 5rem;
    }

    @media(max-width:750px){
      padding: 3rem 4rem;
    }
  }
}

.view-main-wrong {
  position: absolute;
  right: 2rem;
  bottom: 1.5rem;
  display: flex;
  align-items: center;

  &__text {
    color: $grey;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: all ease .3s;

    & span {
      font-size: 1.3rem;
    }

    &:hover {
      color: $pink;
    }
  }

  &__info {
    margin-left: .4rem;
    cursor: pointer;

    &:hover {
      .view-main-wrong {
        &__modal {
          pointer-events: all;
          opacity: 1;
        }
      }
    }
  }

  &__modal {
    opacity: 0;
    pointer-events: none;
    transition: all ease .4s;

    position: absolute;
    right: 0;
    top: -10px;
    transform: translateY(-100%);
    @extend %block;
    border-radius: 21px;
    padding: 1.8rem 2rem;
    z-index: 2;
    color: $pink;
    min-width: 23rem;
    font-size: 1.3rem;
    font-weight: 500;
  }
}

.view-main-title {
  &__title {
    text-align: center;

    & span {
      @extend %title;
    }
  }

  &__test {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.9rem;
    color: $pink;
    font-size: 1.4rem;
  }
}

.view-main {
  position: relative;

  &__columns {
    margin-top: 3.6rem;
    display: flex;
    @media(max-width:600px) {
      flex-wrap: wrap;
      margin-top: 2rem;
    }
  }

  &__column {
    &:first-child {
      flex: 0 0 40%;

      @media(max-width:600px){
        flex: 0 0 100%;
        padding: 0 3rem;
      }
    }

    &:last-child {
      flex: 0 0 60%;
      padding-left: 5rem;
      padding-top: 5rem;

      @media(max-width:850px){
        padding-left: 3rem;
      }

      @media(max-width:700px){
        padding-top: 3rem;
      }

      @media(max-width:600px){
        flex: 0 0 100%;
        padding: 0;
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &__image {
    padding-top: 140%;
    position: relative;

    & img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__author {
    & span {
      @extend %grad;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.3em;

      @media(max-width:1100px) {
        font-size: 1.8rem;
      }
    }
  }

  &__result {
    display: flex;
    align-items: flex-end;
    margin-top: 3rem;

    @media(max-width:700px){
      margin-top: 1.5rem;
    }
  }

  &__progress {
    flex: 0 0 12rem;

    @media(max-width:600px) {
      flex: auto;
      width: 12rem;
    }
  }

  &__numbers {
    margin-left: 2rem;
    font-size: 1.4rem;
    color: $darkGrey;
  }

  &__show {
    margin-top: 2.5rem;
    position: relative;
    z-index: 2;

    @media(max-width:600px){
      width: 100%;
    }
  }

  &__decor-wrap {
    padding-top: 60%;
    width: 100%;
    position: relative;

    @media(max-width:800px){
      padding-top: 50%;
    }

    @media(max-width:720px){
      padding-top: 40%;
    }

    & img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__decor {
    pointer-events: none;
    position: absolute;
    right: 2rem;
    bottom: 0;
    width: 25rem;

    @media(max-width:600px) {
      right: -3rem;
      width: 20rem;
    }
    //pointer-events: none;
  }

  &__arrows {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    top: 0;
    left: 0;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    z-index: 2;
    pointer-events: all;
    width: 2.8rem;
    height: 2.8em;

    @media(max-width:900px){
      width: 2rem;
      height: 2rem;
    }

    &_prev {
      left: 1rem;
      transform: translateY(-50%);
    }

    &_next {
      right: 1rem;
      transform: translateY(-50%) rotate(180deg);
    }

    & img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.view-main-progress {
  padding-left: 1rem;

  @media(max-width:600px){
    padding-left: 0;
  }
  &__percent {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;

    & span {
      @extend %grad;
    }
  }

  &__decor {
    height: 5px;
    position: relative;

    & span {
      display: block;
      height: 100%;
      width: 100%;
      border-radius: 3px;
      position: absolute;
      left: 0;
      top: 0;

      &:first-child {
        background-color: $darkGrey;
      }

      &:last-child {
        background: linear-gradient(315deg, rgba(70, 83, 210, 0.99) 3.46%, #E93AD2 92.67%);
      }
    }
  }
}

.view-answers {
  margin-top: 2rem;

  border-radius: 43px;
  border: .5rem solid rgba(233, 58, 210, 0.75);
  background: #FBFAFB;
  box-shadow: 8.227px 11.518px 31.262px 0px rgba(0, 0, 0, 0.25);
  padding: 3rem 3rem;

  &__title {
    color: $pink;
    font-size: 2.14rem;
    font-weight: 700;
    display: flex;
    align-items: center;
  }

  &__edit-icon {
    position: relative;
    height: 2.5rem;
    width: 2rem;
    margin-left: 1rem;

    & img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: all ease .3s;

      &:last-child {
        opacity: 0;
      }
    }

    &:hover {
      & img {
        &:first-child {
          opacity: 0;
        }

        &:last-child {
          opacity: 1;
        }
      }
    }
  }

  &__results {
    margin-top: 2rem;
  }

  &__list {
    column-count: 8;

    @media(max-width:730px){
      column-count: 5;
    }

    @media(max-width:490px){
      column-count: 4;
    }
  }

  &__summary {
    margin-top: 3rem;
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
    font-weight: 700;
  }

  &__itogo {
    color: $pink;
  }
}

.view-answers-list {
  &__item {
    display: flex;
    font-size: 1.4rem;
    margin-top: 1.4rem;
    align-items: flex-end;

    &:first-child {
      margin-top: 0;
    }
  }

  &__number {
    flex: 0 0 2rem;
    display: flex;
    justify-content: flex-end;
  }

  &__answer {
    margin-left: .4rem;
    font-size: 1.21rem;
    padding: .1rem .4rem;
    border-radius: 5px;
    background-color: rgba($green, .2);
    border: 1px solid $green;
    color: $green;

    &.wrong {
      background-color: rgba($red, .2);
      border: 1px solid $red;
      color: $red;
    }
  }
}
