<ng-container *ngIf="view">
    <div class="view" @appear>
        <div class="view__wrapper">

            <div class="view__main view-main" [ngClass]="{ isLogged: view.isLogged }">

                <ng-container *ngIf="blankView.blankScore?.isChecked">
                    <div class="view-main__wrong view-main-wrong">
                        <button
                                type="button"
                                class="view-main-wrong__text"
                                (click)="enableEditMod()"
                        >
                            результат неверный<span>?</span>
                        </button>
                        <div class="view-main-wrong__info">
                            <img src="assets/images/icons/info.svg" alt="Информация">

                            <div class="view-main-wrong__modal">
                                Если система неправильно оценила работу, вы можете изменить результат вручную.
                            </div>
                        </div>
                    </div>
                </ng-container>

                <ng-container>
                    <div class="view-main__arrows">
                        <ng-container *ngIf="view.arrows.prev">
                            <button type="button" class="view-main__arrow view-main__arrow_prev" (click)="swipe(-1)">
                                <img src="assets/images/icons/arrow_pink.svg" alt="">
                            </button>
                        </ng-container>
                        <ng-container *ngIf="view.arrows.next">
                            <button type="button" class="view-main__arrow view-main__arrow_next" (click)="swipe(1)">
                                <img src="assets/images/icons/arrow_pink.svg" alt="">
                            </button>
                        </ng-container>
                    </div>
                </ng-container>
                
                <div class="view-main__title view-main-title">
                    <h1 class="view-main-title__title">
                        <span>Результаты проверки</span>
                    </h1>
                    <ng-container *ngIf="blankView.testName">
                        <div class="view-main-title__test">
                            {{ blankView.testName }}
                        </div>
                    </ng-container>
                </div>

                <div class="view-main__columns">
                    <div class="view-main__column">
                        <div class="view-main__image">
                            <img src="{{ view.blank.image }}" alt="">
                        </div>
                    </div>

                    <div class="view-main__column">

                        <div class="view-main__author">
                            <span>
                                <ng-container *ngIf="blankView.authorInfo; else invalidAuthor">
                                    {{ blankView.authorInfo }}
                                </ng-container>
                                <ng-template #invalidAuthor>
                                    Неизвестно
                                </ng-template>
                            </span>
                        </div>
                        <ng-container *ngIf="blankView.blankScore">
                            <div class="view-main__result">
                                <div class="view-main__progress view-main-progress">
                                    <div class="view-main-progress__percent">
                                        <span>{{ blankView.blankScore.percentage | number : ".0-0" }}%</span>
                                    </div>
                                    <div class="view-main-progress__decor">
                                        <span></span>
                                        <span [ngStyle]="{width: blankView.blankScore.percentage + '%'}"></span>
                                    </div>
                                </div>
                                <div class="view-main__numbers">
                                    {{ blankView.blankScore.right }}/{{ blankView.blankScore.total }}
                                </div>
                            </div>
                        </ng-container>

                        <div class="view-main__show">

                            <ng-container *ngIf="!isEdit && blankView.answers">
                                <ng-container *ngIf="!view.showDetail; else hideText">
                                    <app-button
                                            (clickEvent)="toggleShow()"
                                            mode="filled"
                                            @opacityIn
                                    >
                                        развернуть результат
                                    </app-button>
                                </ng-container>
                                <ng-template #hideText>
                                    <app-button
                                            (clickEvent)="toggleShow()"
                                            @opacityIn
                                    >
                                        свернуть результат
                                    </app-button>
                                </ng-template>
                            </ng-container>

                        </div>

                    </div>
                </div>

                <div class="view-main__decor">
                    <div class="view-main__decor-wrap">
                        <img src="assets/images/icons/arrow-result.svg" alt="">
                    </div>
                </div>

            </div>

            <ng-container *ngIf="view.showDetail && !isEdit && blankView.blankScore">
                <app-answers-view
                        @appear
                        [view]="blankView"
                        (editEvent)="enableEditMod()"
                ></app-answers-view>
            </ng-container>

            <ng-container *ngIf="isEdit">
                <app-blank-edit
                        @appear
                        [view]="blankView"
                        (closeEvent)="closeEditForm($event)"
                ></app-blank-edit>
            </ng-container>

        </div>
    </div>
</ng-container>
