<ng-container *ngIf="view">
    <div class="view" @appear>
        <div class="view__wrapper">

            <div class="view__main view-main">

                <ng-container>
                    <div class="view-main__wrong view-main-wrong">
                        <div class="view-main-wrong__text">
                            результат не верный?
                        </div>
                        <div class="view-main-wrong__info">
                            <img src="assets/images/icons/info.svg" alt="Информация">

                            <div class="view-main-wrong__modal">
                                Если система не правильно оценила работу, вы можете изменить её вручную.
                            </div>
                        </div>
                    </div>
                </ng-container>

                <ng-container>
                    <div class="view-main__arrows">
                        <ng-container *ngIf="view.arrows.prev">
                            <button type="button" class="view-main__arrow view-main__arrow_prev" (click)="swipe(-1)">
                                <img src="assets/images/icons/arrow_pink.svg" alt="">
                            </button>
                        </ng-container>
                        <ng-container *ngIf="view.arrows.next">
                            <button type="button" class="view-main__arrow view-main__arrow_next" (click)="swipe(1)">
                                <img src="assets/images/icons/arrow_pink.svg" alt="">
                            </button>
                        </ng-container>
                    </div>
                </ng-container>
                
                <div class="view-main__title view-main-title">
                    <h1 class="view-main-title__title">
                        <span>Результаты проверки</span>
                    </h1>
                    <div class="view-main-title__test">
                        {{ view.blank.testName }}
                    </div>
                </div>

                <div class="view-main__columns">
                    <div class="view-main__column">
                        <div class="view-main__image">
                            <img src="{{ view.blank.image }}" alt="">
                        </div>
                    </div>

                    <div class="view-main__column">

                        <div class="view-main__author">
                            <span>{{ view.blank.author }}</span>
                        </div>
                        <div class="view-main__result">
                            <div class="view-main__progress view-main-progress">
                                <div class="view-main-progress__percent">
                                    <span>{{ resultView.percentage }}%</span>
                                </div>
                                <div class="view-main-progress__decor">
                                    <span></span>
                                    <span [ngStyle]="{width: resultView.percentage + '%'}"></span>
                                </div>
                            </div>
                            <div class="view-main__numbers">
                                {{ resultView.actual }}/{{ resultView.right }}
                            </div>
                        </div>

                        <div class="view-main__show">

                                <ng-container *ngIf="!view.showDetail; else hideText">
                                    <app-button
                                            (clickEvent)="toggleShow()"
                                            mode="filled"
                                            @opacityIn
                                    >
                                        развернуть результат
                                    </app-button>
                                </ng-container>
                                <ng-template #hideText>
                                    <app-button
                                            (clickEvent)="toggleShow()"
                                            mode="filled"
                                            @opacityIn
                                    >
                                        свернуть результат
                                    </app-button>
                                </ng-template>
                        </div>

                    </div>
                </div>

                <div class="view-main__decor">
                    <div class="view-main__decor-wrap">
                        <img src="assets/images/icons/arrow-result.svg" alt="">
                    </div>
                </div>

            </div>

            <ng-container *ngIf="view.showDetail">
                <div class="view__answers view-answers" @appear>
                    <div class="view-answers__title">
                        Вариант {{ view.blank.var + 1 }}
                        <button type="button" class="view-answers__edit-icon">
                            <img src="assets/images/icons/pencil.svg" alt="Редактировать">
                            <img src="assets/images/icons/pencil-pink.svg" alt="">
                        </button>
                    </div>

                    <div class="view-answers__results">
                        <ul class="view-answers__list view-answers-list">
                            <ng-container *ngFor="let answer of view.blank.answers; let i = index">
                                <div class="view-answers-list__item">
                                    <div class="view-answers-list__number">
                                        {{ i + 1 }}.
                                    </div>
                                    <div
                                            class="view-answers-list__answer"
                                            [ngClass]="{wrong: !answer.isRight}"
                                    >
                                        {{ answer.actual }}
                                    </div>
                                </div>
                            </ng-container>
                        </ul>
                    </div>

                    <div class="view-answers__summary">
                        <span class="view-answers__itogo">
                            Итого:
                        </span>
                        &nbsp;правильно {{ resultView.actual }} из {{ resultView.right }}
                    </div>
                </div>
            </ng-container>

        </div>
    </div>
</ng-container>
