@import "vars";

%grad {
  background: linear-gradient(270deg, #4653D2 0%, #E93AD2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  line-height: 1.2;
}

%nograd {
  background: #fff;
  background-clip: initial;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  display: inline-block;
  line-height: 1.2;
}

%button {
  border-radius: 100px;
  background: linear-gradient(315deg, rgba(70, 83, 210, 0.99) 3.46%, #E93AD2 92.67%);
  //box-shadow: 0px 0px 17px 0px rgba(223, 40, 255, 0.35) inset, 0px 0px 30px 0px rgba(60, 0, 128, 0.15);
  color: white;
  text-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10);
  text-transform: uppercase;
}

%spacing {
  font-size: 1.14rem;
  letter-spacing: 0.05em;
}

%title {
  font-size: 2.86rem;
  letter-spacing: 0.05em;
  @extend %grad;
  font-weight: bold;
  line-height: 1.375em;

  @media(max-width:700px){
    font-size: 2.4rem;
  }
}

%block {
  border-radius: 35px;
  border: 4.045px solid rgba(233, 58, 210, 0.75);
  background: #F6F6F6;
  box-shadow: 18.608px 20.226px 60.677px 0px rgba(0, 0, 0, 0.06);
  padding: 2.5rem 2.9rem;

  @media(max-width:700px){
    padding: 2rem 2.9rem;
  }

  @media(max-width:560px) {
    padding: 2rem 2rem;
  }
}

%block-red {
  border-radius: 35px;
  border: 4.045px solid $red;
  background: #F6F6F6;
  box-shadow: 18.608px 20.226px 60.677px 0px rgba(0, 0, 0, 0.06);
  padding: 2.5rem 2.9rem;

  @media(max-width:700px){
    padding: 2rem 2.9rem;
  }

  @media(max-width:560px) {
    padding: 2rem 2rem;
  }
}
