@import "vars";

%grad {
  background: linear-gradient(270deg, $blue 0%, $pink 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  line-height: 1.2;
}

%nograd {
  background: #fff;
  background-clip: initial;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  display: inline-block;
  line-height: 1.2;
}

%button {
  border-radius: 100px;
  background: linear-gradient(315deg, $blue 3.46%, $pink 92.67%);
  color: white;
  text-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10);
  text-transform: uppercase;
}

%spacing {
  font-size: 1.14rem;
  letter-spacing: 0.05em;
}

%title {
  font-size: 2.86rem;
  letter-spacing: 0.05em;
  @extend %grad;
  font-family: $futura;
  font-weight: bold;
  line-height: 1.375em;

  @media(max-width:700px){
    font-size: 2.4rem;
  }

  @media(max-width:500px){

  }
}

%block {
  border-radius: 35px;
  border: 3px solid rgba($pink, .75);
  background: #F6F6F6;
  box-shadow: 4.44px 6.21px 16.86px 0px rgba(0, 0, 0, 0.25);
  padding: 2.5rem 2.9rem;

  @media(max-width:700px){
    padding: 2rem 2.9rem;
  }

  @media(max-width:560px) {
    padding: 2rem 2rem;
  }
}

%block-red {
  border-radius: 35px;
  border: 3px solid $red;
  background: #F6F6F6;
  box-shadow: 4.44px 6.21px 16.86px 0px rgba(0, 0, 0, 0.25);
  padding: 2.5rem 2.9rem;

  @media(max-width:700px){
    padding: 2rem 2.9rem;
  }

  @media(max-width:560px) {
    padding: 2rem 2rem;
  }
}
