$mw: 1100px;

$ff: 'a_FuturaRound';
$fontsize: 14px;

$md1: $mw + 12px;
$md2:992.98px;
$md3:767.98px;
$md4:479.98px;

$roboto: 'Roboto', sans-serif;
$comic: 'Comic Sans MS';

$bgcolor: #FBFAFB;

$pink: #CF5CD1;
$grey: #B8BAC1;
$violet: #884ACE;
$blue: #4653D2;
$black: #323232;
$darkGrey: #8d8d8d;
$red: #DF6666;
$textGrey: #737272;
$green: #5CC57D;

$field: 580px;

//$grad1: rgba(70, 83, 210, 1);
//$grad2: rgba(70, 83, 210, 1);
