@import "vars";
@import "classes";

.profile {
  &__wrapper {
  }

  &__title {
  }

  &__blocks {
    margin-top: 3.9rem;
  }

  &__block {
    border-radius: 41.453px;
    border: 4.318px solid rgba(233, 58, 210, 0.75);
    background: #FBFAFB;
    box-shadow: 4.318px 6.045px 16.409px 0px rgba(0, 0, 0, 0.25);
    margin-top: 2rem;
    padding: 3.2rem 3.6rem;

    &:first-child {
      margin-top: 0;
    }
  }

  &__field {
  }

  &__buttons {
    margin-top: 4.3rem;
  }

  &__password {
  }
}

.profile-field {
  display: flex;
  align-items: center;

  margin-top: 2rem;

  &:first-child {
    margin-top: 0;
  }

  &__name {
    flex: 0 0 12rem;

    font-size: 2.14rem;
  }

  &__content {
    flex: 0 0 12rem;

    border-radius: 7px;
    border: 1.574px solid #ED6ADC;
    box-shadow: 0px 1.574px 4.722px 0px rgba(0, 0, 0, 0.31);

    font-size: 1.4rem;
    padding: .6rem 1rem;
  }
}
