<ng-container *ngIf="userMainInfo; else loader">
    <div class="profile" @appear>
        <div class="profile__wrapper">
            <div class="profile__title">
                <span>Кабинет</span>
            </div>


            <div class="profile__blocks">
                <form class="profile__form profile__block" [formGroup]="profileForm">
                    <div class="profile__field profile-field">
                        <div class="profile-field__wrapper">
                            <div class="profile-field__name">
                                Фамилия
                            </div>
                            <input
                                    type="text"
                                    value="{{ userMainInfo.profile.last_name }}"
                                    class="profile-field__content"
                                    placeholder="укажите фамилию"
                                    [formControl]="profileForm.controls.surname"
                            >
                        </div>
                    </div>
                    <div class="profile__field profile-field">
                        <div class="profile-field__wrapper">
                            <div class="profile-field__name">
                                Имя
                            </div>
                            <input
                                    type="text"
                                    value="{{ userMainInfo.profile.first_name }}"
                                    class="profile-field__content"
                                    placeholder="укажите имя"
                                    [formControl]="profileForm.controls.name"
                            >
                        </div>
                    </div>
                    <div class="profile__field profile-field">
                        <div class="profile-field__wrapper">
                            <div class="profile-field__name">
                                Отчество
                            </div>
                            <input
                                    type="text"
                                    value="{{ userMainInfo.profile.patronymic }}"
                                    class="profile-field__content"
                                    placeholder="укажите отчество"
                                    [formControl]="profileForm.controls.patronymic"
                                    min="0"
                            >
                        </div>

                        <ng-container *ngIf="showSave">
                            <div class="profile__button-wrap" @smooth>
                                <button
                                        class="profile__button"
                                        type="button"
                                        (click)="saveProfile()">
                                    сохранить
                                </button>
                            </div>
                        </ng-container>

                    </div>
                </form>

                <div class="profile__block">
                    <div class="profile__field profile-field">
                        <div class="profile-field__wrapper">
                            <div class="profile-field__name">
                                Почта
                            </div>
                            <div class="profile-field__content">
                                {{ userMainInfo.email }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="profile__buttons">
                <div class="profile__password">
                    <app-button
                            (clickEvent)="changePassword()"
                    >Изменить пароль</app-button>
                </div>
                <div class="profile__logout">
                    <app-button
                            mode="filled"
                            (clickEvent)="logout()"
                    >
                        Выйти
                    </app-button>
                </div>
            </div>

        </div>
    </div>
</ng-container>

<ng-template #loader>
    <app-loader>
        Загрузка профиля
    </app-loader>
</ng-template>
