<ng-container *ngIf="userMainInfo">
    <div class="profile" @appear>
        <div class="profile__wrapper">
            <div class="profile__title">
                <app-title>Кабинет</app-title>
            </div>


            <div class="profile__blocks">
                <div class="profile__block">
                    <div class="profile__field profile-field">
                        <div class="profile-field__name">
                            Фамилия
                        </div>
                        <div class="profile-field__content">
                            {{ userMainInfo.surname }}
                        </div>
                    </div>
                    <div class="profile__field profile-field">
                        <div class="profile-field__name">
                            Имя
                        </div>
                        <div class="profile-field__content">
                            {{ userMainInfo.name }}
                        </div>
                    </div>
                    <div class="profile__field profile-field">
                        <div class="profile-field__name">
                            Отчество
                        </div>
                        <div class="profile-field__content">
                            {{ userMainInfo.batya }}
                        </div>
                    </div>
                </div>

                <div class="profile__block">
                    <div class="profile__field profile-field">
                        <div class="profile-field__name">
                            Почта
                        </div>
                        <div class="profile-field__content">
                            {{ userMainInfo.email }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="profile__buttons">
                <div class="profile__password">
                    <app-button
                            (clickEvent)="changePassword()"
                    >Изменить пароль</app-button>
                </div>
                <div class="profile__logout">
                    <app-button
                            mode="filled"
                            (clickEvent)="logout()"
                    >
                        Выйти
                    </app-button>
                </div>
            </div>

        </div>
    </div>
</ng-container>
