@import "vars";
@import "classes";

.classes {

  &__title {
  }

  &__content {
    margin-top: 4.6rem;

    @media(max-width:750px){
      margin-top: 3rem;
    }
  }
}

.classes-title {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  @media(max-width:420px){
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__column {
    & > span {
      @extend %title;
    }

    @media(max-width:420px){
      flex: 0 0 100%;
    }
  }
}

.classes-list {
  &__item {
    margin-top: 2.8rem;

    &:first-child {
      margin-top: 0;
    }
  }
}
