@import "vars";
@import "classes";


.crumbs {
  position: absolute;
  left: 0;
  top: -1.2rem;
  transform: translate(0, -100%);
  z-index: 2;
  width: 100%;

  &.center {
    width: 100%;
    top: -1.4rem;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  @media(max-width:400px){
    top: -1.3rem;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;
    margin-left: 0.5rem;
    align-items: center;
    font-weight: 500;
    font-size: 1.14rem;

    &:last-child {
      & .crumbs__link {
        color: rgba(#868686, 50%);
      }
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    color: #A3A3A3;
  }

  &__decor {
    margin-left: 0.5rem;
  }
}
