<section class="login" @animation>

    <div class="container login__container">

        <div class="login__bg">

            <div class="login__wrapper">

                <ul class="login__buttons login-buttons">
                    <li class="login-buttons__item active" [ngClass]="{loginMode: isLogin}">
                        <button
                                class="login-buttons__button login-buttons__button_login"
                                (click)="changeForm(true)"
                        >
                            войти
                        </button>
                    </li>
                    <li class="login-buttons__item" [ngClass]="{loginMode: isLogin}" appActive>
                        <button
                                class="login-buttons__button login-buttons__button_registration"
                                (click)="changeForm(false)"
                        >
                            <span>регистрация</span>
                        </button>
                    </li>
                </ul>

                <div class="login__content" [ngClass]="{loginMode: isLogin}">
                    <form
                            action=""
                            class="login__form login-form"
                            [ngClass]="{loginMode: isLogin}"
                            [formGroup]="isLogin ? loginForm : registrationForm"
                            (ngSubmit)="isLogin ? login() : register()"
                    >
                        <ng-container *ngIf="isLogin; else registration">
                            <div class="login-form__wrapper" @appearOnly>
                                <ng-container *ngIf="loginError; else formErrors">
                                    <ng-container *ngTemplateOutlet="error; context: {$implicit: loginError}"></ng-container>
                                </ng-container>

                                <ng-template #formErrors>
                                    <ng-container *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid; else passError">
                                        <ng-container *ngTemplateOutlet="error; context: {$implicit: 'Введите корректный email'}"></ng-container>
                                    </ng-container>
                                    <ng-template #passError>
                                        <ng-container *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.['minlength']">
                                            <ng-container *ngTemplateOutlet="error; context: {$implicit: 'Пароль должен содержать минимум 8 символов'}"></ng-container>
                                        </ng-container>
                                    </ng-template>
                                </ng-template>

                                <div class="login-form__fields">
                                    <div class="login-form__field">
                                        <input
                                                type="email"
                                                class="login-form__input"
                                                placeholder="Почта"
                                                [formControl]="loginForm.controls.email"
                                        >
                                    </div>

                                    <div class="login-form__field">
                                        <input
                                                type="password"
                                                class="login-form__input"
                                                placeholder="Пароль"
                                                [formControl]="loginForm.controls.password"
                                                #passwordLogin
                                        >
                                        <button
                                                type="button"
                                                class="login-form__hide"
                                                (click)="passwordLogin.type = passwordLogin.type === 'text' ? 'password' : 'text'"
                                        >
                                            <img ngSrc="https://storage.yandexcloud.net/qucklycheck/hide.svg" alt="" height="10" width="17">
                                        </button>
                                    </div>
                                </div>

                                <div class="login-form__submit">
                                    <app-button
                                            [filled]="true"
                                            class="login-form__button"
                                            (clickEvent)="login()"
                                    >
                                        войти
                                    </app-button>
                                </div>

                            </div>

                        </ng-container>

                        <ng-template #registration>
                            <div class="login-form__wrapper" @appearOnly>

                                <ng-container *ngIf="registrationError; else formErrors">
                                    <ng-container *ngTemplateOutlet="error; context: {$implicit: registrationError}"></ng-container>
                                </ng-container>

                                <ng-template #formErrors>
                                    <ng-container *ngIf="registrationForm.controls.email.touched && registrationForm.controls.email.invalid; else passError">
                                        <ng-container *ngTemplateOutlet="error; context: {$implicit: 'Введите email в виде login@domen.ru'}"></ng-container>
                                    </ng-container>
                                    <ng-template #passError>
                                        <ng-container *ngIf="registrationForm.controls.password.touched && registrationForm.controls.password.errors?.['minlength']; else repeatError">
                                            <ng-container *ngTemplateOutlet="error; context: {$implicit: 'Пароль должен содержать минимум 8 символов'}"></ng-container>
                                        </ng-container>
                                    </ng-template>
                                    <ng-template #repeatError>
                                        <ng-container *ngIf="registrationForm.controls.repeatPassword.touched && registrationForm.errors?.['notSame']; else personalError">
                                            <ng-container *ngTemplateOutlet="error; context: {$implicit: 'Пароли не совпадают'}"></ng-container>
                                        </ng-container>
                                    </ng-template>

                                    <ng-template #personalError>
                                        <ng-container *ngIf="(registrationForm.controls.personal.dirty || registerToggled) && registrationForm.controls.personal.invalid">
                                            <ng-container *ngTemplateOutlet="error; context: {$implicit: 'Нужно согласие на обработку персональных данных'}"></ng-container>
                                        </ng-container>
                                    </ng-template>
                                </ng-template>

                                <div class="login-form__fields">
                                    <div class="login-form__field">
                                        <input
                                                type="text"
                                                class="login-form__input"
                                                placeholder="Почта"
                                                [formControl]="registrationForm.controls.email"
                                        >
                                    </div>

                                    <div class="login-form__field">
                                        <input
                                                type="password"
                                                class="login-form__input"
                                                placeholder="Пароль"
                                                [formControl]="registrationForm.controls.password"
                                                #registerPass
                                        >
                                        <button
                                                type="button"
                                                class="login-form__hide"
                                                (click)="registerPass.type = registerPass.type === 'text' ? 'password' : 'text'"
                                        >
                                            <img src="https://storage.yandexcloud.net/qucklycheck/hide.svg" alt="">
                                        </button>
                                    </div>

                                    <div class="login-form__field">
                                        <input
                                                type="password"
                                                class="login-form__input"
                                                placeholder="Подтвердите пароль"
                                                [formControl]="registrationForm.controls.repeatPassword"
                                                #registerRepeat
                                        >
                                        <button
                                                class="login-form__hide"
                                                type="button"
                                                (click)="registerRepeat.type = registerRepeat.type === 'text' ? 'password' : 'text'"
                                        >
                                            <img src="https://storage.yandexcloud.net/qucklycheck/hide.svg" alt="">
                                        </button>
                                    </div>

                                    <div class="login-form__field">
                                        <input
                                                id="agree"
                                                type="checkbox"
                                                class="login-form__agree"
                                                [formControl]="registrationForm.controls.personal"
                                        >
                                        <label
                                                for="agree"
                                                class="login-form__label"
                                                appActive
                                                [isActiveInit]="registrationForm.controls.personal.value"
                                                #label
                                        ></label>
                                        <button class="login-form__text" (click)="label.click()" type="button">
                                            Я согласен на
                                            <a href="https://www.google.ru/" target="_blank" class="login-form__underline">
                                                обработку персональных данных
                                            </a>
                                        </button>
                                    </div>
                                </div>

                                <div class="login-form__submit login-form__submit_auth">
                                    <app-button
                                            [filled]="true"
                                            class="login-form__button"
                                            (clickEvent)="register()"
                                    >
                                        зарегистрироваться
                                    </app-button>
                                </div>

                            </div>

                        </ng-template>

                    </form>

                </div>

            </div>

        </div>

    </div>

</section>

<ng-template #error let-text>
    <div class="login__error login-error" @animation>
        <div class="login-error__wrapper">
            <div class="login-error__image">
                <img ngSrc="https://storage.yandexcloud.net/qucklycheck/attention.svg" alt="" fill priority="true">
            </div>

            <div class="login-error__text">
                {{ text }}
            </div>
        </div>
    </div>
</ng-template>
