<section class="login" @appear>

    <div class="container login__container">

        <div class="login__bg">

            <div class="login__wrapper">

                <ul class="login__buttons login-buttons">
                    <li class="login-buttons__item active" [ngClass]="{loginMode: isLogin}">
                        <button
                                class="login-buttons__button login-buttons__button_login"
                                (click)="isLogin = true"
                        >
                            войти
                        </button>
                    </li>
                    <li class="login-buttons__item" [ngClass]="{loginMode: isLogin}" appActive>
                        <button
                                class="login-buttons__button login-buttons__button_registration"
                                (click)="isLogin = false"
                        >
                            <span>регистрация</span>
                        </button>
                    </li>
                </ul>

                <div class="login__content" [ngClass]="{loginMode: isLogin}">
                    <form
                            action=""
                            class="login__form login-form"
                            [ngClass]="{loginMode: isLogin}"
                            [formGroup]="isLogin ? loginForm : loginForm"
                            (ngSubmit)="isLogin ? login() : login()"
                    >
                        <ng-container *ngIf="isLogin; else registration">
                            <div class="login-form__wrapper" @appearOnly>

                                <ng-container *ngIf="loginForm.dirty && loginForm.invalid">
                                    <div class="login__error login-error" @appear>
                                        <div class="login-error__wrapper">
                                            <div class="login-error__image">
                                                <img ngSrc="assets/images/icons/attention.svg" alt="" fill priority="true">
                                            </div>

                                            <div class="login-error__text">
                                                <ng-container *ngIf="loginForm.controls.email.invalid; else passwordLogin">
                                                    Введите корректный email
                                                </ng-container>
                                                <ng-template #passwordLogin>
                                                    <ng-container *ngIf="loginForm.controls.password.errors?.['minlength']">
                                                        Пароль должен содержать минимум 6 символов
                                                    </ng-container>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>

                                <div class="login-form__fields">
                                    <div class="login-form__field">
                                        <input
                                                type="email"
                                                class="login-form__input"
                                                placeholder="Почта"
                                                [formControl]="loginForm.controls.email"
                                        >
                                    </div>

                                    <div class="login-form__field">
                                        <input
                                                type="password"
                                                class="login-form__input"
                                                placeholder="Пароль"
                                                [formControl]="loginForm.controls.password"
                                        >
                                        <div class="login-form__hide">
                                            <img ngSrc="assets/images/icons/hide.svg" alt="" height="10" width="17">
                                        </div>
                                    </div>
                                </div>

                                <div class="login-form__submit">
                                    <button class="login-form__button">
                                        войти
                                    </button>
                                </div>

                            </div>

                        </ng-container>

                        <ng-template #registration>

                            <div class="login-form__wrapper" @appearOnly>

                                <div class="login-form__field">
                                    <input type="text" class="login-form__input" placeholder="Почта">
                                </div>

                                <div class="login-form__field">
                                    <input type="password" class="login-form__input" placeholder="Пароль">
                                    <div class="login-form__hide">
                                        <img src="assets/images/icons/hide.svg" alt="">
                                    </div>
                                </div>

                                <div class="login-form__field">
                                    <input type="password" class="login-form__input" placeholder="Подтвердите пароль">
                                    <div class="login-form__hide">
                                        <img src="assets/images/icons/hide.svg" alt="">
                                    </div>
                                </div>

                                <div class="login-form__field">
                                    <input id="agree" type="checkbox" class="login-form__agree">
                                    <label for="agree" class="login-form__label" appActive #label></label>
                                    <label class="login-form__text" (click)="label.click()">
                                        Я согласен на
                                        <a href="https://www.google.ru/" target="_blank" class="login-form__underline">
                                            обработку персональных данных
                                        </a>
                                    </label>
                                </div>

                                <div class="login-form__submit">
                                    <button class="login-form__button">
                                        зарегистрироваться
                                    </button>
                                </div>

                            </div>

                        </ng-template>

                    </form>

                </div>

            </div>

        </div>

    </div>

</section>
