<section class="students" @appear>

    <div class="students__container container">

        <div class="students__wrapper">

            <div class="students__columns">

                <div class="students__column">

                    <div class="students__students">
                        <ng-container *ngIf="classInfo && students">
                            <div class="students__students-wrap" @appear>
                                <h2 class="students__title">
                                    <app-title>
                                        {{classInfo.number}}{{classInfo.letter}} класс
                                    </app-title>
                                </h2>

                                <div class="students__subtitle">
                                    Список учеников
                                </div>

                                <ul class="students__list students-list">

                                    <ng-container *ngFor="let student of students; let i = index">

                                        <li class="students-list__item">
                                            <div class="students-list__number">
                                                <span>{{ student.id }}.</span>
                                            </div>

                                            <a routerLink="" class="students-list__name">
                                                {{ student.name }}
                                            </a>
                                        </li>

                                    </ng-container>

                                </ul>
                            </div>

                        </ng-container>
                    </div>


                </div>

                <div class="students__column">

                    <h2 class="students__title">
                        <app-title>
                            Памятка
                        </app-title>
                    </h2>

                    <div class="students__remember students-remember">

                        <ul class="students-remember__list">
                            <li class="students-remember__item">
                                <div class="students-remember__number">
                                    1.
                                </div>

                                <div class="students-remember__text">
                                    Нажмите на ученика, чтобы увидеть его личные работы.
                                </div>
                            </li>
                            <li class="students-remember__item">
                                <div class="students-remember__number">
                                    2.
                                </div>

                                <div class="students-remember__text">
                                    Номер ученика- это личный ID в этом классе. Нужен, чтобы идентифицировать бланк.
                                </div>
                            </li>
                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
