@import "vars";
@import "classes";

:host {
  flex-grow: 1;
}

.students {
  padding-top: 4.6rem;

  &__container {
  }

  &__wrapper {
  }

  &__columns {
    margin: 0 auto;
    width: 100%;
    max-width: 64.2rem;
    display: flex;

    border-radius: 42px;
    border: 4.437px solid rgba(233, 58, 210, 0.75);
    background: #FBFAFB;
    box-shadow: 4.437px 6.212px 16.861px 0px rgba(0, 0, 0, 0.25);

    padding: 2.1rem 4.1rem 2.1rem 5rem  ;
  }

  &__column {
    flex-grow: 1;

    &:last-child {
      flex: 0 0 38%;
    }
  }

  &__students {
    min-height: 30rem;
  }

  &__title {
  }

  &__subtitle {
    font-size: 1.4rem;
    margin-top: 2.6rem;
  }

  &__list {
  }

  &__remember {
  }
}

.container {
}

.students-list {
  margin-top: 2.8rem;
  &__item {
    display: flex;
    margin-top: 1rem;
    font-size: 1.4rem;

    &:first-child {
      margin-top: 0;
    }
  }

  &__number {
    flex: 0 0 1.5rem;
    display: flex;
    justify-content: flex-end;

    & span {
      display: inline-block;
      @extend %grad;
    }
  }

  &__name {
    margin-left: .5rem;
    transition: all ease .3s;
    background: transparent;
    line-height: 1.2;

    @media(hover: hover) {
      &:hover {
        background: linear-gradient(270deg, #4653D2 0%, #E93AD2 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
        line-height: 1.2;
      }
    }
  }
}

.students-remember {
  &__list {
    margin-top: 1.8rem;
  }

  &__item {
    position: relative;
    font-size: 1.4rem;
    margin-top: 1.8rem;

    &:first-child {
      margin-top: 0;
    }
  }

  &__number {
    position: absolute;
    left: -1.5rem;
    top: 0;
  }

  &__text {
    font-size: 1.4rem;
  }
}
