@import "vars";
@import "classes";


.return {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(calc(-100% - 2rem), -50%);

  @media(max-width:1280px){
    top: -1.2rem;
    transform: translate(0, -100%);
  }

  &.lateMedia {
    @media(max-width:1280px){
      top: 50%;
      transform: translate(calc(-100% - 2rem), -50%);
    }

    @media(max-width:580px){
      top: -1.2rem;
      transform: translate(0, -100%);
    }

    & .return {
      &__text {
        @media(max-width:1280px) {
          display: none;
        }

        @media(max-width:580px){
          display: block;
          margin-left: .7rem;
          color: $pink;
          font-family: $comic;
          font-size: 1.5rem;

          transition: all ease .4s;
        }
      }

      &__arrow {
        @media(max-width:1280px) {
          width: 3.3rem;
          height: 2.7rem;
        }

        @media(max-width:580px) {
          width: 3rem;
          height: 2.4rem;
        }
      }

      &__content {
        @media(hover: hover) {
          &:hover {
            & .return {
              &__arrow {
                @media(min-width:1280px){
                  margin-right: 0;
                  margin-left: -0.3rem;
                }

                @media(min-width:580px){
                  margin-right: .3rem;
                  margin-left: 0;
                }
              }

              &__text {
                margin-left: 1rem;
              }
            }
          }
        }
      }
    }
  }


  &__wrapper {
  }

  &__content {
    display: flex;
    align-items: center;

    @media(hover: hover) {
      &:hover {
        & .return {
          &__arrow {
            & img {
              &:first-child {
                opacity: 0;
              }

              &:last-child {
                opacity: 1;
              }
            }

            margin-left: -.3rem;

            @media(min-width:1280px){
              margin-right: .3rem;
              margin-left: 0;
            }
          }

          &__text {
            margin-left: 1rem;
          }
        }
      }
    }
  }

  &__arrow {
    width: 3.3rem;
    height: 2.7rem;
    position: relative;
    transition: all ease .4s;

    @media(max-width:1280px) {
      width: 3rem;
      height: 2.4rem;
    }

    & img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      //object-fit: cover;
      transition: all ease .4s;
      opacity: 1;

      &:last-child {
        opacity: 0;
      }
    }
  }

  &__text {
    display: none;

    @media(max-width:1280px){
      display: block;
      margin-left: .7rem;
      color: $pink;
      font-family: $comic;
      font-size: 1.5rem;

      transition: all ease .4s;
    }
  }
}
