<footer class="footer" @appear>

    <div class="container">

        <div class="footer__row">

            <div class="footer__item footer__item_left footer-item">

                <div class="footer-item__about">
                    <a href="" class="footer-item__logo footer-item-logo" routerLink="">
                        <div class="footer-item-logo__img">
                            <img ngSrc="assets/images/icons/logo-footer.svg" alt="" fill>
                        </div>
                        <div class="footer-item-logo__text">
                            QuicklyCheck
                        </div>
                    </a>

                    <div class="footer-item__info">
                        Быстро проверяйте тесты, используя наш сервис
                    </div>
                </div>

                <ul class="footer-item__column footer-column">
                    <li class="footer-column__item">
                        <div class="footer-column__title">
                            Учителям и преподавателям
                        </div>
                    </li>

                    <ng-container *ngIf="auth.isLogged$ | async">
                        <li class="footer-column__item">
                            <a href="" class="footer-column__link" routerLink="classes">Мои классы</a>
                        </li>
                    </ng-container>

                    <li class="footer-column__item">
                        <a href="" class="footer-column__link" routerLink="getBlank">Скачать бланк</a>
                    </li>

                    <li class="footer-column__item">
                        <a href="" class="footer-column__link" routerLink="check">Проверить тест</a>
                    </li>

                </ul>

            </div>

            <div class="footer__item footer__item_right footer-item">
                <ul class="footer-item__column footer-column">
                    <li class="footer-column__item">
                        <div class="footer-column__title">
                            Контакты
                        </div>
                    </li>

                    <li class="footer-column__item">
                        <a href="mailto:d.n.noskova@mail.ru" class="footer-column__link">d.n.noskova@mail.ru</a>
                    </li>
                </ul>
            </div>

        </div>

    </div>

</footer>
