@import "vars";
@import "classes";

.footer {
  padding: 3.3rem 0 4.85rem;
  background-color: #4C4A4A;

  &__row {
    display: flex;
    justify-content: space-between;

    @media(max-width:580px){
      flex-wrap: wrap;
    }
  }

  &__column {

    &:nth-child(2) {
      display: flex;
    }

    @media(max-width:580px){
      &:nth-child(1) {
        flex: 0 0 100%;
        order: 2;
        margin-top: 3.4rem;
      }

      &:nth-child(2) {
        order: 1;
      }
    }
  }

  &__logo {
  }

  &__item {
  }
}

.footer-column {
  &__about {
  }

  &__info {
    color: $bgcolor;
    font-size: 1.43rem;
    max-width: 18.6rem;
    margin-top: 3.05rem;

    @media(max-width:580px){
      max-width: none;
    }

    @media(max-width:430px){
      max-width: 18.6rem;
    }
  }
}

.footer-logo {
  &__img {
    width: 18.6rem;
    height: 4rem;
    position: relative;

    & img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
}

.footer-item {
  margin-left: 3.4rem;

  &:first-child {
    margin-left: 0;
  }

  &__column {
  }
}

.footer-item-column {
  font-size: 1.4rem;
  color: $bgcolor;

  &__item {
    margin-top: 1rem;

    &:nth-child(1) {
      margin-top: 0;
    }

    &:nth-child(2) {
      margin-top: 2.14rem;
    }

    @media (hover: hover) {
      &:hover {
        .footer-item-column__link {
          transform: translateX(2px);
        }
      }
    }
  }

  &__title {
    opacity: 0.5;
  }

  &__link {
    color: $bgcolor;
    position: relative;
    transition: all ease .3s;
    left: 0;
    top: 0;
    transform: translateX(0);
    display: inline-block;
  }

  &__text {
  }
}
