<main class="main" @appear>
    <div class="container">

        <div class="main__about main-about">
            <div class="main-about__content">

                <h1 class="main-about__title" [appScroll]="30">
                    <span>Мы <span class="grad">экономим</span></span> <span>ваше время и силы</span>
                </h1>

                <div class="main-about__text" [appScroll]="30">
                    Сервис для быстрой проверки тестовых работ
                </div>

                <button class="main-about__button">
                    <span [appScroll]="30">инструкция</span> <span [appScroll]="30">по проверке</span>
                </button>

                <div class="main-about__arrow">
                    <img src="assets/images/main/arrow-down.svg" alt="">
                </div>

            </div>

            <div class="main-about__image">
                <img ngSrc="assets/images/main/woman.svg" alt="" height="578" width="656" priority>
            </div>
        </div>

        <div class="main__choose main-choose">

            <h2 class="main-choose__title">
                Почему учителя и преподаватели выбирают нас?
            </h2>

            <div class="main-choose__wrapper">

                <div class="main-choose__cards">

                    <div class="main-choose__card main-choose-card">

                        <div class="main-choose-card__wrapper">
                            <div [appScroll]="20">
                                <h3 class="main-choose-card__title">
                                    Мгновенная проверка
                                </h3>

                                <div class="main-choose-card__text">
                                    Сэкономьте свое время на проверке тестовых работ. Наш сервис позволит сделать это за несколько минут.
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="main-choose__card main-choose-card">

                        <div class="main-choose-card__wrapper">
                            <div [appScroll]="20">
                                <h3 class="main-choose-card__title">
                                    Сохраняйте работы
                                </h3>

                                <div class="main-choose-card__text">
                                    Сохраняйте проверенные работы, чтобы получить доступ к ним в любую минуту, находясь даже не на работе.
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="main-choose__card main-choose-card">

                        <div class="main-choose-card__wrapper">
                            <div [appScroll]="20">
                                <h3 class="main-choose-card__title">
                                    Проводите анализ
                                </h3>

                                <div class="main-choose-card__text">
                                    Мы даем возможность быстро проанализировать выполненные работы и выявить пробелы в знаниях
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="main-choose__card main-choose-card">

                        <div class="main-choose-card__wrapper">
                            <div [appScroll]="20">
                                <h3 class="main-choose-card__title">
                                    Легко отправляйте результаты
                                </h3>

                                <div class="main-choose-card__text">
                                    Чтобы поделиться результатами работы, нужно всего лишь скопировать ссылку и отправить ученикам!
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="main-choose__content main-choose-content" [appScroll]="0">

                    <h3 class="main-choose-content__title">
                        Открывайте для себя преимущества онлайн проверки тестовых заданий
                    </h3>

                    <div class="main-choose-content__text">
                        Чтобы получить доступ ко всем сервисам, войдите в аккаунт
                    </div>

                    <a href="" class="main-choose-content__login" routerLink="./login">
                        Войти
                    </a>

                </div>

            </div>

        </div>

        <div class="main__howto main-howto">
            <div class="main-howto__content">
                <h2 class="main-howto__title">
                    Как проверить тест, если вы не зарегистрированы?
                </h2>

                <div class="main-howto__slider main-howto-slider">
                    <div class="main-howto-slider__wrapper">
                        <div class="main-howto-slider__controls main-howto-slider-controls">
                            <button type="button" class="main-howto-slider-controls__arrow" (click)="movePrevSlide()">
                                <img ngSrc="assets/images/icons/arrow_pink.svg" alt="" loading="eager" fill>
                            </button>
                            <button type="button" class="main-howto-slider-controls__arrow" (click)="moveNextSlide()">
                                <img ngSrc="assets/images/icons/arrow_pink.svg" alt="" loading="eager" fill>
                            </button>
                        </div>
                        <div class="main-howto-slider__content">
                            <div class="main-howto-slider__slides">
                                <div class="main-howto-slider__slide active" #slide>
                                    Перейдите в раздел <a routerLink="getBlank" class="main-howto-slider__link">Скачать бланк</a>
                                </div>

                                <div class="main-howto-slider__slide" #slide>
                                    Следуйте шагам в инструкции на странице
                                </div>

                                <div class="main-howto-slider__slide" #slide>
                                    Перейдите в раздел <a routerLink="" class="main-howto-slider__link">Проверить тест</a>
                                </div>

                                <div class="main-howto-slider__slide" #slide>
                                    Следуйте шагам в инструкции на странице
                                </div>

                                <div class="main-howto-slider__slide" #slide>
                                    Готово! Тест проверен!
                                </div>
                            </div>

                            <div class="main-howto-slider__progress main-howto-slider-progress">
                                <div class="main-howto-slider-progress__wrapper">
                                    <div class="main-howto-slider-progress__progress">
                                        <div class="main-howto-slider-progress__bar"></div>
                                        <div class="main-howto-slider-progress__grey active1" #progressGreyBar></div>
                                    </div>

                                    <div class="main-howto-slider-progress__numbers">
                                        <ng-container *ngFor="let i of [0, 1, 2, 3, 4]">
                                            <button
                                                    type="button"
                                                    class="main-howto-slider-progress__number"
                                                    #number
                                                    (click)="initSlide(i)"
                                            >
                                                {{ i + 1 }}
                                            </button>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
