@import "vars";
@import "classes";

:host {
  flex-grow: 1;
}

.main {
  padding: 3rem 0 0;

  &__about {
    display: flex;

    @media(max-width:570px){
      flex-wrap: wrap;
    }
  }

  &__choose {
    margin-top: 5rem;
  }
}

.container {
}

.main-about {
  &__content {
    padding-top: 2.6rem;
    flex: 0 0 40%;
    //position: relative;

    @media(max-width:570px){
      flex: 0 0 100%;
      padding-top: 0;
    }

    position: relative;
  }

  &__title {
    font-size: 2.85rem;
    line-height: 1em;
    font-weight: 700;
    letter-spacing: 0.05em;
    display: flex;
    flex-direction: column;
  }

  &__text {
    margin-top: 2.7rem;
    font-size: 1.4rem;
    letter-spacing: 0.03em;
    max-width: 21rem;

    @media(max-width:400px){
      margin-top: 1.5rem;
    }
  }

  &__button {
    @extend %button;

    margin-top: 2.35rem;
    padding: 1.1rem 4rem 1rem;
    font-size: 1.4rem;
    line-height: 1.3em;
    font-weight: 700;
    letter-spacing: 0.05em;
    gap: .2rem;
    display: flex;
    flex-direction: column;

    @media(max-width:400px){
      margin-top: 1.3rem;
    }
  }

  &__arrow {
    position: relative;
    width: 100%;
    padding-top: 72%;

    @media(max-width:1100px){
      padding-top: 60%;
    }

    @media(max-width:950px){
      display: none;
    }

    @media(max-width:570px){
      position: absolute;
      display: block;
      width: 50%;
      padding-top: 0;
      height: 100%;
      bottom: -5%;
      right: -10%;
    }

    @media(max-width: 390px){
      display: none;
    }

    & img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-position: right bottom;
      object-fit: contain;

      @media(max-width:570px){
        position: static;
        left: auto;
        right: 0;
        top: auto;
        bottom: 0;
      }
    }
  }

  &__image-wrap {
    width: 100%;
    padding-top: 88%;
    position: relative;

    @media(max-width:570px){
      padding-top: 60%;
    }

    @media(max-width:430px){
      padding-top: 88%;
    }
  }

  &__image {
    flex: 0 0 60%;
    position: relative;
    //aspect-ratio: 1.133;

    @media(max-width:570px){
      flex: 0 0 100%;
      margin-top: 1.5rem;
    }

    & img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.main-choose {
  &__title {
    @extend %grad;

    font-size: 2.85rem;
    font-weight: 700;
    letter-spacing: .05em;
    text-align: center;
    width: 100%;
  }

  &__wrapper {
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__cards-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem;

    @media(max-width:700px){
      margin: -.7rem;
    }
  }

  &__cards {
    flex: 0 0 65%;

    @media(max-width:700px){
      flex: 0 0 100%;
    }
  }

  &__card {
    flex: 0 0 50%;
    padding: 1rem;

    @media(max-width:700px){
      padding: .7rem;
    }

    @media(max-width:430px){
      flex: 0 0 100%;
    }
  }

  &__content {
    flex: 0 0 35%;

    @media(max-width:700px){
      flex: 0 0 100%;
    }
  }
}

.main-choose-card {
  &__wrapper {
    padding: 2.5rem 2.5rem 3.3rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 3.6rem;
    border: 3.86px solid rgba(233, 58, 210, 0.75);
    background: rgba(246, 246, 246, 0.40);
    box-shadow: 17.7564754486084px 19.300518035888672px 57.901554107666016px 0px rgba(0, 0, 0, 0.06);

    @media(max-width:550px){
      padding: 2rem 2rem 2.2rem;
      border-radius: 3rem;
    }

    @media(max-width:430px){
      padding: 2.5rem 2.5rem 3.3rem;
      border-radius: 3.6rem;
    }
  }

  &__title {
    color: $pink;
    font-size: 1.4rem;
    letter-spacing: .05em;
    font-weight: 700;
  }

  &__text {
    margin-top: 1.57rem;
    font-size: 1.4rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    //font-family: $roboto;
  }
}

.main-choose-content {
  padding-left: 4.5rem;

  @media(max-width:$md1){
    padding-left: 3rem;
  }

  @media(max-width:900px){
    padding-left: 2rem;
  }

  @media(max-width:700px){
    padding-left: 0;
    margin-top: 2rem;
    padding-right: 15rem;
  }

  @media(max-width:550px){
    padding-right: 10rem;
  }

  @media(max-width:460px){
    padding-right: 0;
  }

  &__title {
    font-size: 2.14rem;
    line-height: 1.5;
    font-weight: 700;
  }

  &__text {
    margin-top: 1.4rem;
    font-size: 1.4rem;
    line-height: 1.45;
    font-family: $roboto;

    @media(max-width:700px) {
      margin-top: 1.1rem;
    }
  }

  &__login {
    @extend %grad;
    margin-top: 2rem;
    display: inline-block;
    font-size: 1.8rem;
    text-transform: uppercase;

    @media(max-width:700px) {
      margin-top: 1.5rem;
    }

    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -3px;
      transform: translate(-50%, 0);
      width: 99%;
      height: 3px;
      transition: all ease .2s;
      background: linear-gradient(315deg, rgba(70, 83, 210, 0.99) 3.46%, #E93AD2 92.67%);
    }

    &:hover {
      &:after {
        transform: translate(-50%, -2px);
      }
    }
  }
}

.main-howto {
  margin-top: 4.6rem;


  &__content {
  }

  &__title {
    @extend %grad;

    font-size: 2.14rem;
    font-weight: 700;
    letter-spacing: .05em;
    text-align: center;
    width: 100%;
  }

  &__slider {
    margin-top: 2.4rem;
  }
}

.main-howto-slider {
  padding-bottom: 4.6rem;
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__controls {
  }

  &__content {
    padding: 4rem 0;
    width: 870px;
    max-width: calc(100% - 6.4rem);

    @media(max-width:1200px){
      width: 800px;
    }

    @media(max-width:1100px){
      width: 700px;
    }

    @media(max-width:750px){
      width: 100%;
      margin: 0 auto;
    }

    @media(max-width:650px){
      padding: 2rem 0 2.5rem;
    }

    @media(max-width:520px){
      padding-top: 3rem;
    }

    @media(max-width:480px){
      max-width: calc(100% - 5.4rem);
    }

    border-radius: 45px;
    border: 4px solid rgba(233, 58, 210, 0.75);
    background: #FBFAFB;
    box-shadow: 8.22692px 11.51768px 31.26229px 0px rgba(0, 0, 0, 0.25);
  }

  &__slides {
    position: relative;
    height: 2.14rem;

    @media(max-width:1200px){
      height: 3rem;
    }
  }

  &__slide {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    //white-space: nowrap;
    opacity: 0;
    transition: all ease .3s;
    pointer-events: none;

    color: $pink;
    font-size: 2.14rem;
    font-weight: 700;
    letter-spacing: .03em;

    & a {
      display: inline-block;
    }

    &.active {
      opacity: 1;
      pointer-events: all;
    }

    width: 100%;
    max-width: calc(100% - 8rem);
    text-align: center;

    @media(max-width:480px){
      max-width: calc(100% - 7rem);
    }
  }

  &__link {
    color: $violet;
    position: relative;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      left: 0px;
      bottom: -3px;
      width: 100%;
      height: 2px;
      background-color: $violet;
      pointer-events: none;
      transition: all ease .2s;
    }

    @media (hover: hover) {
      &:hover {
        &::after {
          bottom: -1px;
        }
      }
    }
  }

  &__progress {
    margin-top: 4.3rem;
  }
}

.main-howto-slider-progress {
  height: 2.6rem;

  &__wrapper {
    width: 390px;
    margin: 0 auto;
    height: 2.6rem;
    position: relative;

    @media(max-width:700px){
      max-width: calc(100% - 11rem);
      width: 100%;
    }

    @media(max-width:570px){
      max-width: calc(100% - 7rem);
    }
  }

  &__progress {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__bar {
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(270deg, #4653D2 0%, #E93AD2 100%);
  }

  &__grey {
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    transition: all ease .3s;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;

      background: linear-gradient(90deg, rgba(184, 186, 193, 5%) 0%, $grey 6%, $grey 100%);;
    }

    &.active1 {
      &:after {
        left: 7.5%;
      }
    }

    &.active2 {
      &:after {
        left: 32.5%;
      }
    }

    &.active3 {
      &:after {
        left: 57.5%;
      }
    }

    &.active4 {
      &:after {
        left: 82.5%;
      }
    }

    &.active5 {
      &:after {
        left: 100%;
      }
    }
  }

  &__numbers {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__number {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 2.6rem;
    width: 2.6rem;
    border-radius: 50%;
    border: 3px solid $grey;
    font-size: 1.2rem;
    font-weight: 700;
    color: $grey;
    background: #FBFAFB;
    transition: all ease .3s;

    @media(max-width:500px){
      height: 2.3rem;
      width: 2.3rem;
    }

    &:nth-child(1) {
      left: 0;

      &.active {
        color: $pink;
        border-color: $pink;
      }
    }

    &:nth-child(2) {
      left: 25%;

      &.active {
        color: rgb(203, 76, 204);
        border-color: rgb(203, 76, 204);
      }
    }

    &:nth-child(3) {
      left: 50%;

      &.active {
        color: rgb(141, 83, 201);
        border-color: rgb(141, 83, 201);
      }
    }

    &:nth-child(4) {
      left: 75%;

      &.active {
        color: rgb(107, 88, 203);
        border-color: rgb(107, 88, 203);
      }
    }

    &:nth-child(5) {
      left: 100%;

      &.active {
        color: rgb(73, 91, 205);
        border-color: rgb(73, 91, 205);
      }
    }
  }
}

.main-howto-slider-controls {
  position: absolute;
  width: 100%;
  height: 100%;

  &__arrow {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    top: 50%;
    transition: all ease .1s;

    @media(max-width:480px){
      width: 2rem;
      height: 2rem;
    }

    &:first-child {
      left: 0;
      transform: translateY(-50%);
    }

    &:last-child {
      right: 0;
      transform: translateY(-50%) rotate(180deg);
    }

    @media (hover: hover) {
      &:hover {
        width: 2.3rem;
        height: 2.3rem;

        &:first-child {
          left: .1rem;
        }

        &:last-child {
          right: .1rem;
        }
      }
    }
  }
}

