<section class="check" @appear>

    <div class="check__wrapper">

        <div class="check__content">

            <div class="check__columns">

                <div class="check__column">
                    <span>
                        Перейти <br> к проверке <br> работ
                    </span>
                </div>
                <div class="check__column">
                    <app-button (clickEvent)="redirectToVariantFilling()">Перейти</app-button>
                </div>

            </div>

            <div class="check__decor">
                <div class="check__decor-wrap">
                    <img ngSrc="assets/images/icons/loop.svg" height="196" width="360" alt="" priority>
                </div>
            </div>

        </div>

    </div>

</section>
