<div class="create" @appear>
    <div class="create__wrapper">

        <div class="create__logo">
            <img ngSrc="assets/images/icons/logoSmall.svg" alt="" height="104" width="109">
        </div>

        <div class="create__title">
            <app-title>Новая тестовая работа</app-title>
        </div>

        <div class="create__form create-form">
            <ng-container *ngIf="createForm.controls.name.invalid && createForm.controls.name.dirty">
                <div @appear class="create-form__wrong create-form-wrong">
                    <div class="create-form-wrong__wrapper">
                        <div class="create-form-wrong__image">
                            <img ngSrc="assets/images/icons/attention.svg" alt="" height="26" width="29">
                        </div>

                        <div class="create-form-wrong__text">
                            Название не может быть пустым
                        </div>
                    </div>
                </div>
            </ng-container>

            <div class="create-form__fields">
                <div class="create-form__field">
                    <div class="create-form__input">
                        <input
                                type="text"
                                placeholder="Введите название работы"
                                [formControl]="createForm.controls.name"
                        >
                    </div>
                </div>
            </div>

            <div class="create-form__create">
                <app-button
                        [filled]="true"
                        (clickEvent)="create()"
                >добавить</app-button>
            </div>

        </div>

    </div>
</div>

