@import "nullstyle";
@import "vars";
@import "classes";

html {
  font-family: $ff;
  font-size: $fontsize;
  background-color: $bgcolor;
}

body {
  min-height: 100vh;
  width: 100%;
  color: #323232;
  display: grid;
  grid-auto-columns: 1fr;
}

.container {
  max-width: $mw + 12px;
  padding: 0 12px;
  margin: 0 auto;
}

.test {
  @extend %grad;
  font-size: 2rem;
  font-weight: 700;
}

.grad {
  @extend %grad;
}
