<div class="block section">
    <div class="section__title">
        Вариант {{ view.var }}
        <ng-container *ngIf="view.blankScore?.isChecked && isLogged">
            <button
                    type="button"
                    class="answers__edit-icon"
                    (click)="startEdit()"
            >
                <img src="assets/images/icons/pencil.svg" alt="Редактировать">
                <img src="assets/images/icons/pencil-pink.svg" alt="">
            </button>
        </ng-container>
    </div>

    <div class="answers__results">
        <ul class="answers__list answers-list">
            <ng-container *ngFor="let answer of view.blankScore!.checkedAnswers; let i = index">
                <div class="answers-list__item">
                    <div class="answers-list__number">
                        {{ i + 1 }}.
                    </div>
                    <div
                            class="answers-list__answer"
                            [ngClass]="{wrong: !answer.isRight}"
                    >
                        {{ answer.actual === '' ? 'X' : answer.actual }}
                    </div>
                </div>
            </ng-container>
        </ul>
    </div>

    <div class="answers__summary">
                        <span class="answers__itogo">
                            Итого:
                        </span>
        &nbsp;правильно {{ view.blankScore!.right }} из {{ view.blankScore!.total }}
    </div>
</div>
